// App-Wide Styling
// v3.0.0

@import 'app'

SiteTopMargin = 50px

*,
*:before,
*:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0


// Default Styles
html
	CoverBackground('../images/grassy-field.jpeg')
	FiraSans(16px, 400, Black, -1px, left)
		
a
	text-decoration none
	color Red
	font-weight 400
	&:hover
		text-decoration underline

li
	list-style-type none





#logo
	position relative
	width 130px
	height 174px
	font-size 31.32px
	background Red
	text-align left
	z-index 101
	h1
		FiraSans(1em, 700, White, -0.05em, left)
		line-height 0.83333em
		text-shadow 1px 1px 1px rgba(Black, 0.5)
		NoSelect()
		position absolute
		left 0.270833em
		bottom 0.6666667em
	.subtitle
		FiraSans(0.25em, 400, LtRed, 0.1em, left)
		text-transform uppercase
		NoSelect()
		position absolute
		left 1.25em
		bottom 1.125em
	.login
		FiraSans(0.25em, 400, Red, 0.1em, left)
		text-transform uppercase
		position absolute
		top 40px
		left StandardPadding
		cursor pointer
		&:hover
			color LtRed

#social-media
	width 130px
	list-style-type none
	li
		display inline-block
		width 25%
		a
			padding-top StandardPadding
			width 100%
			display block
			text-align center
		i
			font-size 18px



.fixed
	position fixed





		

