// Homepage Style
// v3.0.0

@import 'base'
	
#social-media
	a
		// color White
		&:hover
			color White

.links
	position relative
	Offset-XS(4)
	top 165px
	
	a
		padding 15px
		display block
		color White
		margin-bottom 50px
		text-shadow 1px 1px 5px Black
		
		transition border-bottom .3s ease, background .2s ease
		background transparent
		border-bottom 5px solid transparent

		&:hover
			text-decoration none
			
			background rgba(black,0.4)
			border-bottom 5px solid Light


		.title
			FiraSans(3rem, 700, White, -0.05em, left)
			Width-XS(12)
			white-space nowrap
			overflow hidden
			text-overflow clip
			
			line-height 3rem
		.comment
			margin-left 25px
			Width-XS(9)
			PersonalQuote(1rem, 200, White, -0.025em, left)
			


