@import 'app'

LogoHeight = 174px
SiteBorderHeight = 36px
SiteTitleWidth = 130px
SiteTitleMargin = 10px
SiteTitleTranslation = -(SiteTitleWidth+SiteTitleMargin)

// Site Border
#site-border
	// float left
	position fixed
	z-index 100
	top 0
	width 100%
	background black
	height SiteBorderHeight

// Site Title
#site-title
	position fixed
	z-index 100
	top 0
	left 25%
	width SiteTitleWidth
	TranslateX(SiteTitleTranslation)

// Page
.page
	Width-SM(12)
	// position relative
	float left
	z-index 0
	background White
	margin-top SiteBorderHeight
	
// Page Columns
.page-column
	// position relative
	float left
	display inline-block
	vertical-align top
	min-height 1px
.page-column.quarter
	Width-SM(3)
.page-column.half
	Width-SM(6)
.page-column.most
	Width-SM(9)
.page-column.full
	Width-SM(12)
	

	
// Logo
#logo
	width SiteTitleWidth
	height LogoHeight
	font-size 31.32px
	background Red
	text-align left
	h1
		FiraSans(1em, 700, White, -0.05em, left)
		line-height 0.83333em
		text-shadow 1px 1px 1px rgba(Black, 0.5)
		NoSelect()
		position absolute
		left 0.270833em
		bottom 0.6666667em
		// z-index 102
	.subtitle
		FiraSans(0.25em, 400, LtRed, 0.1em, left)
		text-transform uppercase
		NoSelect()
		position absolute
		left 1.25em
		bottom 1.125em
		// z-index 102
	.login
		FiraSans(0.25em, 400, Red, 0.1em, left)
		text-transform uppercase
		position absolute
		top 40px
		left StandardPadding
		cursor pointer
		&:hover
			color LtRed

// Social Media Links
#social-media
	width SiteTitleWidth
	list-style-type none
	li
		display inline-block
		width 25%
		a
			padding-top StandardPadding
			width 100%
			display block
			text-align center
		i
			font-size 18px




// Model Representations
// Projects
.project
	Width-SM(12)
	position relative
	display block
	
	Clearfix()
	
	
	header
		position relative
		Width-SM(12)
		border-top none !important
		border-bottom 1px solid Light
		padding StandardPadding 0
		float left

		.title
			float left
			Width-SM(10)
			.primary
				Char-MediumItemPrimary()
			a.primary:hover
				color Red

		.links
			float left
			Width-SM(2)
			li
				display block
					
	.type
		Char-HeaderLinks()
		font-weight 400
		text-align left

	a.external
		Char-HeaderLinks()
		text-transform uppercase
		&>*
			display inline-block
			vertical-align middle
		i
			margin-right ThinPadding
			color Black
		p
			font-weight 700
			font-size 0.75rem
			color Black
		&:hover
			i
				color Red
			p
				color Red
				text-decoration underline
		&:active
			i
				color Red
			p
				color Red	
	.body
		padding 0 StandardPadding
		Width-SM(6)
		float left

	figure
		Width-SM(6)
		float right	
		img
			display block
			Width-SM(12)

	ul.skills
		// margin-left StandardPadding
		padding StandardPadding 0
		// background White
		Width-SM(12)
		&>*
			display inline-block
		li
			display inline-block
			// padding-right ThinPadding
			margin StandardPadding
			margin-left 0
			margin-bottom 0
			padding (ThinPadding/4) ThinPadding
			border-radius 5px
			border solid 1px Light
		li.skill
			// position relative
			Char-HeaderLinks()
			color Dark
			font-weight 400
			font-size 0.65rem
			// padding 0
			line-height auto
			padding-top 0
			padding-bottom 0
			margin-bottom 0
			margin-top 0
			margin 2px

	ul.bullets
		li.project-bullet
			// text-transform uppercase
			// font-style italic
			font-weight 400
			font-size 0.95rem
			// font-size 0.75rem
			letter-spacing 0em
			// margin-top 0
			margin-bottom StandardPadding
			margin-left ThickPadding
			// margin 0
			// padding-left StandardPadding
			list-style-type circle

// .project.large
// .project.medium
// .project.small
// .project.table
// // Skills
// .skill
// .skill.large
// .skill.medium
// .skill.small
// .skill.table




// Site 
nav
	margin-top StandardPadding
	width SiteTitleWidth

	a
		Char-SiteNavLinks()
		display block
		width 100%
		text-transform uppercase
		padding ThinPadding
		&:hover
			color Red
		
.debug-links
	display none


// New Page Layout

.quarter
	Width-SM(3)
.third
	Width-SM(4)
.half
	Width-SM(6)
.most
	Width-SM(9)



/* 
	Page Structure 
					*/

// Column Containers
.page
	width 100%
	display block
	Clearfix()
	
section
	display block
	width 100%
	padding-left StandardPadding
	margin-bottom 50px
	Clearfix()

.page-title
	height 137px
	margin-bottom 0
	
.section-title,
.project-title
	padding ThickPadding 0
	Clearfix()
	
.project-title
	padding-left StandardPadding


// Columns
.column
	min-height 1px
	float left
	padding-left StandardPadding

.three-column > .column
	width 33.33333%

.two-column > .column
	width 50%
	

	
// Column Content

// Page Title
.page-title .title
	position absolute
	left 0
	bottom StandardPadding
	width 80%
	
.page-title .links
	position absolute
	left 80%
	bottom StandardPadding
	width 20%
	
.section-title .title
	float left 
	width 80%

.section-title .links 
	float left
	width 20%
	
.project-title .title
	padding-left StandardPadding
	float left
	width 80%
	
.project-title .links
	float left
	width 20%

.project
	margin-bottom ThickPadding

// Links List
ul.links
	li.link
		display block
		margin-top StandardPadding
		&:nth-child(1) // First Child
			margin-top 0
	i
		margin-right StandardPadding
	a
		InlineChildren(middle)

// Skills List
ul.skills
	padding StandardPadding
	padding-left 0
	Clearfix()
	li.skill
		float left
		margin ThinPadding
		padding 0 ThinPadding

ul.bullets
	padding ThickPadding
	li.bullet
		margin-bottom ThickPadding







/*
	Page Styles
				*/
section
	border-top 1px solid Light
	
section.page-title
	border-top 0
	

ul.skills
	li.skill
		border-radius 3px
		border 1px solid Light


.project
	background white
	border 1px solid Light
	border-left 3px solid Light
	






/*   
	Character Styles  
						*/

// Page Title
.page-title
	.primary
		Char-PageTitle()
		line-height 1em
	.secondary
		Char-PageSubtitle()
		
// Section Title
.section-title
	.primary
		Char-SectionTitle()
	.secondary
		Char-SectionSubtitle()
		
// Column Title
.column-title
	.primary
		Char-ColumnTitle()
	.secondary
		Char-ColumnSubtitle()

// Links List
ul.links
	li.link
		p
			Char-HeaderLinks()

// Skills List
ul.skills
	li.skill
		a
			Char-HeaderLinks()
			color Dark
			font-weight 400

// Project Bullet Points
ul.bullets
	li.bullet
		list-style-position outside
		list-style-type circle
		// padding-left StandardPadding
		Char-BulletPoints()

		

figure
	img
		width 100%


