@import 'app'

*,
*:before,
*:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0
	position relative
	


Opacity = 0.8

// DEBUG measures
.debug
	*
		border 1px solid orange

	#site-title
		background black
		opacity 1
		height 65px
		
	#page
		background black
		opacity Opacity
		// min-height 500px
		
	section
		background Light
		// min-height 134px
		opacity Opacity
		
		header
			background red
			opacity Opacity
			// min-height 65px
			
		.body
			background yellow
			opacity Opacity
			// min-height 155px
			
		footer
			background green
			opacity Opacity
			// min-height 35px
	
// *
// 	border 0 !important





// Default
ul
	list-style-type none

figure
	img
		display block
		width 100%
		height auto
	img.portrait
		width auto
		height 100%






//--- Positioning

.left,
.page-title,
.full,
.three-quarter,
.two-third,
.half,
.third,
.quarter
	float left
.right
	float right
	
.full,
.page-title
	Width-XS(12)
.three-quarter
	Width-XS(12)
	Width-MD(9)
.two-third
	Width-XS(12)
	Width-MD(8)
.half
	Width-XS(12)
	Width-MD(6)
.third
	Width-XS(12)
	Width-MD(4)
.quarter
	Width-XS(12)
	Width-MD(3)


SiteTitleWidth = 130px + (StandardPadding*2)
SiteTitleHeight = 65px
SiteBorderHeight = 36px
SiteHeaderHeight = 170px

// # Fixed
#site-title
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
	height SiteTitleHeight

	+SM()
		width 100%
		height SiteTitleHeight

	+MD()
		width SiteTitleWidth
		height auto

#site-border
	position fixed
	z-index 99
	top 0
	left 0
	width 100%
	height SiteBorderHeight





// * Page
#page
	width 100%
	margin-top SiteTitleHeight
	padding-left 0
	Clearfix()
	
	+MD()
		margin-top 0
		padding-left SiteTitleWidth
		
	
// * * Sections	
section
	Width-XS(12)
	float left
	padding-left StandardPadding
	padding-right StandardPadding
	Clearfix()
	
section
	&.full
		Width-XS(12)
		
	&.three-quarter
		Width-SM(9)
		Width-MD(12)
		Width-LG(9)
	
	&.two-third
		Width-SM(8)
		Width-MD(12)
		Width-LG(8)
	
	&.half
		Width-SM(6)
		Width-MD(12)
		Width-LG(6)
	
	&.third
		Width-SM(4)
		Width-MD(12)
		Width-LG(4)
	
	&.quarter
		Width-SM(3)
		Width-MD(12)
		Width-LG(3)
	

// * * * Section Headers
section
	header,
	.body,
	footer
		display block
		width 100%
		padding-left StandardPadding
		padding-right StandardPadding
		Clearfix()






// --- Styling

// # Fixed
#site-title
	// background black
	// color white
	
#site-border
	background black
	

// * Page
// Page Title
.page-title
	border-top 0
	.primary
		FiraSans(3rem, 700, Black, -0.03125em, left)
		line-height 1em
	.secondary
		FiraSans(1rem, 400, Red, 0.0714285em, left)
		text-transform uppercase

	
// * * Sections
section
	border-top 1px solid Light
	

// * * * Section Headers
.section-title
	.primary
		FiraSans(1.45rem, 400, Dark, 0.125em, left)
		line-height 1em
		text-transform uppercase
	.secondary
		FiraSans(1rem, 200, Black, 0.140625em, left)








// * * * Section Body








// --- Model Representations

.project
	padding-left ThinPadding
	padding-right ThinPadding



