// The Work of Style
// v3.0

@import 'base'




.page
	background White
	margin-top 36px
	
	// Sections
	// - characterized by the top border
	section
		position relative
		padding 0 StandardPadding
		padding-bottom ThickPadding

		header
			position relative
			padding StandardPadding 0
			border-top 1px solid Gray
			&>*
				display inline-block
				vertical-align middle
			h3
				Char-SectionTitle(Black)
			a
				Char-HeaderLinks()
				float right

		// Section Types
			
		&.title // along the top of the page
			padding-bottom 0
			height 138px
			h2
				Char-PageTitle()
				position absolute
				bottom 0
				left StandardPadding
			a
				Char-HeaderLinks()
				display block
				position relative
				top 50%
				TranslateY(-100%)
				padding-bottom StandardPadding
		
		// &.featured // big picture 2/3, description 1/3
			
		// 	// add in .skill
		// 	.project
		// 		Width-MD(12)
		// 		position relative
		// 		margin-bottom 0
		// 		&>*
		// 			display inline-block
		// 		figure
		// 			Width-MD(8)
		// 			background transparent
		// 			padding-right StandardPadding
		// 		.title
		// 			Width-MD(4)
		// 			.primary
		// 				Char-MediumItemPrimary()
		
		&.list-3-column // 3 columns for lists only
			Width-MD(12)
			
			.project
				Width-MD(4)
				display inline-block
				vertical-align top
				padding-right StandardPadding
				margin-right 0
				margin-bottom ThickPadding
				&:first-child
					padding-left 0
				
				&>*
					Width-MD(12)
					display block
					
				figure
					background none
					border-bottom 1px solid Dark

				.title
					Width-MD(12)
					margin-top ThinPadding
					padding-bottom StandardPadding
					a
						Char-HeaderLinks()
						font-weight 700
					.primary
						Char-SmallItemPrimary()
						padding-bottom 0
					.secondary
						Char-SmallItemSecondary()
						font-weight 400
					.body
						Char-Body()
						color Black
					
					
		&.list-category
			.category
				padding-left StandardPadding
				margin-bottom StandardPadding
				&:last-child
					margin-bottom 0
				h4
					Char-SectionSubtitle()
					text-transform uppercase
				ul
					padding-left StandardPadding
				.skill
					padding-bottom (StandardPadding/2)
		


		&.list-standard
			ul
				padding-left StandardPadding
				.skill
					padding-bottom StandardPadding

		&.admin
			td
				border-bottom 1px solid Light
				&.action
					// border-bottom none


.slide-indicator
	Width-MD(4)
	Char-SectionSubtitle()
	position absolute
	right 0
	bottom 0
	TranslateY(100%)
	&>*
		display inline-block	
	.arrow
		text-align center
		cursor pointer
		Width-MD(3)
	.indicator
		text-align center
		Width-MD(6)
				


li.skill
	InlineChildren(middle)
	.title
		// Char-MediumItemPrimary()
		Char-SmallItemPrimary()
		Width-MD(10)
	.value
		Char-MediumItemValue()
		Width-MD(2)
	
.secondary
	Char-MediumItemSecondary()

.body
	Char-Body()




// form
// 	Offset-XS(3)
// 	Width-MD(9)
// 	margin-top 138px	


