
/*Open Sans*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src:  url('./fonts/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src:  url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src:  url('./fonts/OpenSans-Semibold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src:  url('./fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src:  url('./fonts/OpenSans-ExtraBold.ttf');
}

/*Fira Sans*/

@font-face {
  font-family: 'Fira Sans';
  font-weight: 300;
  src:  url('./fonts/FiraSans-Light.otf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src:  url('./fonts/FiraSans-Regular.otf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 500;
  src:  url('./fonts/FiraSans-Semibold.otf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 600;
  src:  url('./fonts/FiraSans-Bold.otf');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src:  url('./fonts/FiraSans-ExtraBold.otf');
}





/*Bebas Neue*/

@font-face {
  font-family: 'Bebas Neue';
  src:  url('./fonts/BebasNeue.otf');
}
