*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  width: 100%;
  /*background: #eaeaea;*/
}

h2,
.h2 {
  font-family: 'Bebas Neue';
  font-size: 2.25rem;
  font-weight: normal;
  letter-spacing: 2.5px;
  line-height: 1.875rem;

}





.sample-container {
  width: 80%;
  margin: 0 auto;
  background: white;

}

.upper-half {
  width: 100%;
  background: #eae1e0;
}

.title {
  line-height: 72px;
  font-family: 'Bebas Neue';
  font-size: 2rem;

}

ul {
  list-style-type: none;
}

/*
Button
*/
.btn {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 400;
  color: #aaa;
  cursor: pointer;
  letter-spacing: 0.75px;
  /*word-spacing: 0.05em;*/


  /* Resets */
  text-decoration: none;
  border: 0;
  background: none;

}

.btn:hover {
  color: #b23b23;
}

/*Upper*/


.upper {
  border-bottom: 5px solid #eaeaea;
  height: 72px;
}




/*Lower*/

.lower ul li {
  float: left;
}

.lower .right li {
  float: right;
}


/*
Actions
*/

.actions .btn {
  margin-right: 30px;
}





/*
Links
*/

.links .btn {
  text-align: right;
  margin-left: 15px;
}





/*
Skills
*/

.skills {
  /*padding: 15px 0;*/
  height: 100%;
}

.skills ul {
  margin: auto;
}

.skills li {
  text-align: right;
  line-height: 24px;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font-family: Helvetica, sans-serif;*/
}

.skill-title {
  font-family: 'Fira Sans';
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
}

img {
  width: 100%;
}
