@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: url("../img/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
img.landscape {
  width: 100%;
  height: auto;
}
img.portrait {
  height: 100%;
  width: auto;
}
.fixed {
  position: fixed;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: url("../images/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
#social-media a:hover {
  color: #fafafa;
}
.links {
  position: relative;
  left: 33.33333333%;
  top: 165px;
}
.links a {
  padding: 15px;
  display: block;
  color: #fafafa;
  margin-bottom: 50px;
  text-shadow: 1px 1px 5px #303030;
  transition: border-bottom 0.3s ease, background 0.2s ease;
  background: transparent;
  border-bottom: 5px solid transparent;
}
.links a:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.4);
  border-bottom: 5px solid #ddd;
}
.links a .title {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  line-height: 3rem;
}
.links a .comment {
  margin-left: 25px;
  width: 75%;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: -0.025em;
  text-align: left;
  font-style: italic;
}
