@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: url("../img/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
img.landscape {
  width: 100%;
  height: auto;
}
img.portrait {
  height: 100%;
  width: auto;
}
table {
  border: 1px solid #ddd;
  font-size: 12px;
}
table tbody {
  display: block;
}
table th {
  border-bottom: 3px solid #555;
}
table td {
  border: 1px solid #555;
}
.fixed {
  position: fixed;
  z-index: 100;
}
#modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(48,48,48,0.9);
  z-index: 1000;
  text-align: center;
}
#modal figure {
  width: 66.66666667%;
  height: 80%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
#modal figure .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  left: 0;
}
#modal figure .slide img {
  position: relative;
}
#modal figure .slide img.landscape {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#modal figcaption {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  padding: 20px 30px;
}
#modal .page-display {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  color: #fafafa;
}
#modal .modal-button {
  position: absolute;
  z-index: 101;
  height: 60px;
  width: 60px;
  background: rgba(178,59,35,0.6);
  color: rgba(250,250,250,0.6);
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  font-size: 1.25em;
}
#modal .modal-button:hover {
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  text-decoration: none;
}
#modal .modal-button:active {
  background: rgba(178,59,35,0.9);
}
#modal .modal-button .shortcut-hint {
  color: #fafafa;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
#modal .modal-button a {
  color: #fafafa;
}
#modal .close {
  top: 0;
  left: 0;
}
#modal .arrow {
  top: 50%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
#modal .arrow.left {
  left: 0;
}
#modal .arrow.right {
  right: 0;
}
