@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1em;
  background: #fafafa;
}
.debug .page,
.debug #site-title {
  border: 1px solid #000;
}
.debug .page-column {
  border: 1px solid #00f;
}
.debug section {
  border: 1px solid #008000;
  min-height: 134px;
}
.debug header {
  border: 1px solid #f00;
}
.debug .body {
  border: 1px solid #ff0;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}
img.landscape {
  width: 100%;
  height: auto;
}
img.portrait {
  width: auto;
  height: 100%;
}
table {
  border: 1px solid #ddd;
  font-size: 12px;
}
table tbody {
  display: block;
}
table th {
  border-bottom: 3px solid #555;
}
table td {
  border: 1px solid #555;
}
li {
  list-style-type: circle;
  list-style-position: inside;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
}
.left,
.page-title,
.full,
.three-quarter,
.two-third,
.half,
.third,
.quarter {
  display: inline-block;
}
.full {
  width: 100%;
}
@media (min-width: 520px) {
  .three-quarter {
    width: 75%;
  }
}
@media (min-width: 767px) {
  .three-quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .three-quarter {
    width: 75%;
  }
}
@media (min-width: 520px) {
  .two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 767px) {
  .two-third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 520px) {
  .half {
    width: 50%;
  }
}
@media (min-width: 767px) {
  .half {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .half {
    width: 50%;
  }
}
@media (min-width: 520px) {
  .third {
    width: 33.33333333%;
  }
}
@media (min-width: 767px) {
  .third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .third {
    width: 33.33333333%;
  }
}
@media (min-width: 520px) {
  .quarter {
    width: 25%;
  }
}
@media (min-width: 767px) {
  .quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .quarter {
    width: 25%;
  }
}
#logo {
  margin: 0 auto;
  z-index: 100;
}
@media (max-width: 519px) {
  #logo {
    font-size: 11.94px;
    width: 49px;
    height: 65px;
  }
}
@media (min-width: 520px) {
  #logo {
    font-size: 11.94px;
    width: 49px;
    height: 65px;
  }
}
@media (min-width: 767px) {
  #logo {
    font-size: 32px;
    width: 130px;
    height: 174px;
  }
}
#site-title {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}
@media (min-width: 520px) {
  #site-title {
    width: 100%;
    height: 65px;
  }
}
@media (min-width: 767px) {
  #site-title {
    width: 190px;
    height: auto;
  }
}
#site-title header.site {
  padding-left: 45px;
  padding-right: 15px;
}
#site-border {
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
}
#page {
  width: 100%;
  display: block;
}
@media (max-width: 519px) {
  #page {
    margin-top: 65px;
    padding-left: 0;
  }
}
@media (min-width: 520px) {
  #page {
    margin-top: 65px;
    padding-left: 0;
  }
}
@media (min-width: 767px) {
  #page {
    margin-top: 36px;
    padding-left: 190px;
  }
}
section {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-bottom: 30px;
}
section:before,
section:after {
  display: table;
  content: "";
}
section:after {
  clear: both;
}
section.page-title {
  margin-bottom: 0;
}
section.full,
section.page-title {
  width: 100%;
}
@media (min-width: 520px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 767px) {
  section.three-quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 520px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 767px) {
  section.two-third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 520px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 767px) {
  section.half {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 520px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 767px) {
  section.third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 520px) {
  section.quarter {
    width: 25%;
  }
}
@media (min-width: 767px) {
  section.quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.quarter {
    width: 25%;
  }
}
header.page {
  display: block;
}
@media (max-width: 519px) {
  header.page {
    height: auto;
  }
}
@media (min-width: 520px) {
  header.page {
    height: auto;
  }
}
@media (min-width: 767px) {
  header.page {
    height: auto;
    min-height: 138px;
  }
}
@media (max-width: 519px) {
  header.page > * {
    display: block;
  }
}
@media (min-width: 767px) {
  header.page > * {
    display: inline-block;
    vertical-align: bottom;
  }
}
@media (max-width: 519px) {
  section .body > * {
    display: block;
  }
}
@media (min-width: 767px) {
  section .body > * {
    display: inline-block;
    vertical-align: middle;
  }
}
section header,
section .body,
section footer {
  display: block;
  width: 100%;
}
section header:before,
section .body:before,
section footer:before,
section header:after,
section .body:after,
section footer:after {
  display: table;
  content: "";
}
section header:after,
section .body:after,
section footer:after {
  clear: both;
}
section header {
  padding: 15px 0;
}
ul.line {
  list-style-type: none;
}
ul.line>* {
  display: inline-block;
  vertical-align: middle;
}
ul.line li>* {
  display: inline-block;
  vertical-align: middle;
}
ul.line.skills {
  padding: 15px 0;
}
ul.line.skills li {
  display: inline-block;
}
ul.line.skills li:first-child {
  margin-left: 0;
}
ul.block.bullets li {
  margin-bottom: 15px;
}
li.link {
  margin-bottom: 15px;
}
li.link>* {
  display: inline-block;
  vertical-align: middle;
}
li.link a>* {
  display: inline-block;
  vertical-align: middle;
}
li.link i {
  padding-right: 15px;
}
.project {
  margin-bottom: 30px;
}
.project .three-quarter {
  width: 100%;
}
@media (min-width: 767px) {
  .project .three-quarter {
    width: 75%;
  }
}
.project .half {
  width: 100%;
}
@media (min-width: 767px) {
  .project .half {
    width: 50%;
  }
}
.project .quarter {
  width: 100%;
}
@media (min-width: 767px) {
  .project .quarter {
    width: 25%;
  }
}
.project header,
.project .body,
.project footer {
  display: block;
  width: 100%;
}
.project header:before,
.project .body:before,
.project footer:before,
.project header:after,
.project .body:after,
.project footer:after {
  display: table;
  content: "";
}
.project header:after,
.project .body:after,
.project footer:after {
  clear: both;
}
.project header {
  padding-left: 15px;
  padding-right: 15px;
}
.project ul.block {
  width: 100%;
}
.project ul.line {
  width: 100%;
}
.project ul.line li {
  margin-right: 15px;
}
@media (max-width: 519px) {
  .project ul.links {
    padding-top: 10px;
  }
}
@media (min-width: 520px) {
  .project ul.links {
    padding-top: 10px;
  }
}
@media (min-width: 767px) {
  .project ul.links {
    padding-top: 0;
  }
}
.project ul.links li {
  margin-bottom: 5px;
}
.project ul.skills {
  padding: 15px;
}
.project ul.skills li {
  margin-right: 5px;
}
@media (max-width: 519px) {
  .project ul.skills li {
    margin-bottom: 0;
  }
}
@media (min-width: 520px) {
  .project ul.skills li {
    margin-bottom: 0;
  }
}
@media (min-width: 767px) {
  .project ul.skills li {
    margin-bottom: 5px;
  }
}
.project ul.bullets {
  padding: 15px;
}
@media (max-width: 519px) {
  .project ul.bullets li {
    margin-bottom: 15px;
  }
  .project ul.bullets li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 520px) {
  .project ul.bullets li {
    margin-bottom: 15px;
  }
  .project ul.bullets li:last-child {
    margin-bottom: 0;
  }
}
#site-title {
  background: none;
}
#site-border {
  background: #000;
}
header.page {
  border-left: 5px solid #ddd;
  border-bottom: 2px solid #ddd;
}
header.page .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.03125em;
  text-align: left;
  line-height: 1em;
}
header.page .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
}
section:not(.page-title) {
  border-top: 1px solid #ddd;
}
header.section .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.025em;
  text-align: left;
  line-height: 1em;
}
header.section .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.140625em;
  text-align: left;
}
.skill {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
  padding: 0px 5px;
}
.skill a,
.skill p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
}
.project {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.project .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.03em;
  text-align: left;
  line-height: 1em;
}
.project a.primary:hover {
  color: #ddd;
  text-decoration: none;
}
.project a.primary:active {
  color: #b23b23;
}
.project .type,
.project .date {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0715em;
  text-align: left;
  text-transform: uppercase;
}
.project .date {
  color: #909090;
}
.project .type {
  color: #b23b23;
}
.project header {
  border-bottom: 1px solid #ddd;
}
.project li.bullet {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.025em;
  text-align: left;
  line-height: 1em;
}
.project ul.skills {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 519px) {
  .project .half:first-child {
    border-right: 0;
  }
}
@media (min-width: 520px) {
  .project .half:first-child {
    border-right: 0;
  }
}
@media (min-width: 767px) {
  .project .half:first-child {
    border-right: 1px solid #ddd;
  }
}
.project figure {
  background: #fafafa;
}
@media (max-width: 519px) {
  .project figure {
    border-top: 1px solid #ddd;
  }
}
@media (min-width: 520px) {
  .project figure {
    border-top: 1px solid #ddd;
  }
}
@media (min-width: 767px) {
  .project figure {
    border-top: 0;
  }
}
.dd-link i {
  color: #555;
}
.dd-link p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: 0.075em;
  text-align: left;
  text-transform: uppercase;
}
.dd-link:hover i {
  color: #ddd;
}
.dd-link:hover p {
  color: #909090;
}
.dd-link:active i {
  color: #b23b23;
}
.dd-link:active p {
  color: #b23b23;
}
#logo {
  background: #b23b23;
}
#logo .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 0.83333em;
  text-shadow: 1px 1px 1px rgba(48,48,48,0.5);
  -webkit-user-select: none /* Chrome all / Safari all */;
  -moz-user-select: none /* Firefox all */;
  -ms-user-select: none /* IE 10+ */;
  user-select: none /* Likely future */;
  cursor: default;
  position: absolute;
  left: 5.7%;
  bottom: 12%;
}
#logo .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.225em;
  font-weight: 400;
  color: #f2caa0;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  -webkit-user-select: none /* Chrome all / Safari all */;
  -moz-user-select: none /* Firefox all */;
  -ms-user-select: none /* IE 10+ */;
  user-select: none /* Likely future */;
  cursor: default;
  position: absolute;
  left: 7%;
  bottom: 5%;
}
#logo .hidden-link {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.25em;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 15px;
  cursor: pointer;
}
#logo .hidden-link:hover {
  color: #f2caa0;
}
.skill.small {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.skill.small a,
.skill.small p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.medium {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.skill.medium a,
.skill.medium p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.large {
  background: #fff;
  border: none;
  width: 100%;
}
.skill.large a,
.skill.large p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
}
