@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1em;
  background: #fafafa;
}
.debug .page,
.debug #site-title {
  border: 1px solid #000;
}
.debug .page-column {
  border: 1px solid #00f;
}
.debug section {
  border: 1px solid #008000;
  min-height: 134px;
}
.debug header {
  border: 1px solid #f00;
}
.debug .body {
  border: 1px solid #ff0;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}
img.landscape {
  width: 100%;
  height: auto;
}
img.portrait {
  width: auto;
  height: 100%;
}
table {
  border: 1px solid #ddd;
  font-size: 12px;
}
table tbody {
  display: block;
}
table th {
  border-bottom: 3px solid #555;
}
table td {
  border: 1px solid #555;
}
ul {
  list-style-type: none;
}
.left,
.page-title,
.full,
.three-quarter,
.two-third,
.half,
.third,
.quarter {
  float: left;
}
.right {
  float: right;
}
section.full,
section.page-title {
  width: 100%;
}
@media (min-width: 520px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 767px) {
  section.three-quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 520px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 767px) {
  section.two-third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 520px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 767px) {
  section.half {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 520px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 767px) {
  section.third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 520px) {
  section.quarter {
    width: 25%;
  }
}
@media (min-width: 767px) {
  section.quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.quarter {
    width: 25%;
  }
}
#logo {
  font-size: 32px;
  width: 130px;
  height: 174px;
  margin: 0 auto;
}
#site-title {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
}
@media (min-width: 520px) {
  #site-title {
    width: 100%;
    height: 65px;
  }
}
@media (min-width: 767px) {
  #site-title {
    width: 160px;
    height: auto;
  }
}
#site-border {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
}
#social-media {
  list-style-type: none;
}
#social-media li {
  display: inline-block;
  width: 25%;
}
#social-media li a {
  width: 100%;
  display: block;
  text-align: center;
}
#social-media li i {
  font-size: 18px;
}
@media (max-width: 519px) {
  #social-media li a {
    padding-top: 5px;
  }
}
@media (min-width: 520px) {
  #social-media {
    width: 160px;
  }
  #social-media li a {
    padding-top: 15px;
  }
}
nav {
  width: 100%;
}
nav ul {
  width: 100%;
}
nav li {
  width: 100%;
  display: block;
}
nav a {
  display: block;
  text-align: center;
  width: 100%;
}
#page {
  width: 100%;
  margin-top: 65px;
  padding-left: 0;
}
#page:before,
#page:after {
  display: table;
  content: "";
}
#page:after {
  clear: both;
}
@media (min-width: 767px) {
  #page {
    margin-top: 36px;
    padding-left: 160px;
  }
}
section {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
section:before,
section:after {
  display: table;
  content: "";
}
section:after {
  clear: both;
}
section.full {
  width: 100%;
}
@media (min-width: 520px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 767px) {
  section.three-quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.three-quarter {
    width: 75%;
  }
}
@media (min-width: 520px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 767px) {
  section.two-third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.two-third {
    width: 66.66666667%;
  }
}
@media (min-width: 520px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 767px) {
  section.half {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.half {
    width: 50%;
  }
}
@media (min-width: 520px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 767px) {
  section.third {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.third {
    width: 33.33333333%;
  }
}
@media (min-width: 520px) {
  section.quarter {
    width: 25%;
  }
}
@media (min-width: 767px) {
  section.quarter {
    width: 100%;
  }
}
@media (min-width: 992px) {
  section.quarter {
    width: 25%;
  }
}
section header,
section .body,
section footer {
  display: block;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
section header:before,
section .body:before,
section footer:before,
section header:after,
section .body:after,
section footer:after {
  display: table;
  content: "";
}
section header:after,
section .body:after,
section footer:after {
  clear: both;
}
#site-border {
  background: #000;
}
.page-title {
  border-top: 0;
}
.page-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.03125em;
  text-align: left;
  line-height: 1em;
}
.page-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
section {
  border-top: 1px solid #ddd;
}
.section-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.45rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.125em;
  text-align: left;
  line-height: 1em;
  text-transform: uppercase;
}
.section-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.140625em;
  text-align: left;
}
#logo {
  background: #b23b23;
}
#logo .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 0.83333em;
  text-shadow: 1px 1px 1px rgba(48,48,48,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 5.7%;
  bottom: 12%;
}
#logo .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.225em;
  font-weight: 400;
  color: #f2caa0;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 7%;
  bottom: 5%;
}
#logo .hidden-link {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.25em;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 15px;
  cursor: pointer;
}
#logo .hidden-link:hover {
  color: #f2caa0;
}
.skill.small {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.skill.small a,
.skill.small p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.medium {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.skill.medium a,
.skill.medium p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.large {
  background: #fff;
  border: none;
  width: 100%;
}
.skill.large a,
.skill.large p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
}
.project {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
.project:before,
.project:after {
  display: table;
  content: "";
}
.project:after {
  clear: both;
}
.project .project-title {
  border-top: none !important;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}
@media (min-width: 520px) {
  .project .project-title {
    width: 100%;
  }
}
.project .project-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
  line-height: 1em;
}
.project .project-title a.primary:hover {
  color: #b23b23;
}
.project .project-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
