@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
html {
  background: url("../img/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #b23b23;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
li {
  list-style-type: none;
}
img {
  display: block;
}
img.landscape {
  width: 100%;
  height: auto;
}
img.portrait {
  height: 100%;
  width: auto;
}
table {
  border: 1px solid #ddd;
  font-size: 12px;
}
table tbody {
  display: block;
}
table th {
  border-bottom: 3px solid #555;
}
table td {
  border: 1px solid #555;
}
.fixed {
  position: fixed;
  z-index: 100;
}
#site-border {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background: #000;
  height: 36px;
}
#site-title {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 25%;
  width: 130px;
  -webkit-transform: translateX(-140px);
  transform: translateX(-140px);
}
.page {
  float: left;
  z-index: 0;
  background: #fafafa;
  margin-top: 36px;
}
@media (min-width: 768px) {
  .page {
    width: 100%;
  }
}
.page-column {
  float: left;
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
}
@media (min-width: 768px) {
  .page-column.quarter {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .page-column.half {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .page-column.most {
    width: 75%;
  }
}
@media (min-width: 768px) {
  .page-column.full {
    width: 100%;
  }
}
#logo {
  width: 130px;
  height: 174px;
  font-size: 31.32px;
  background: #b23b23;
  text-align: left;
}
#logo h1 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 0.83333em;
  text-shadow: 1px 1px 1px rgba(48,48,48,0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 0.270833em;
  bottom: 0.6666667em;
}
#logo .subtitle {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.25em;
  font-weight: 400;
  color: #f2caa0;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  position: absolute;
  left: 1.25em;
  bottom: 1.125em;
}
#logo .login {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.25em;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 10px;
  cursor: pointer;
}
#logo .login:hover {
  color: #f2caa0;
}
#social-media {
  width: 130px;
  list-style-type: none;
}
#social-media li {
  display: inline-block;
  width: 25%;
}
#social-media li a {
  padding-top: 10px;
  width: 100%;
  display: block;
  text-align: center;
}
#social-media li i {
  font-size: 18px;
}
.project {
  position: relative;
  display: block;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .project {
    width: 100%;
  }
}
.project:before,
.project:after {
  display: table;
  content: "";
}
.project:after {
  clear: both;
}
.project header {
  position: relative;
  border-top: none !important;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  float: left;
}
@media (min-width: 768px) {
  .project header {
    width: 100%;
  }
}
.project header .title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
  line-height: 1em;
}
.project header .title a.primary:hover {
  color: #b23b23;
}
.project .type {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}
.project .body {
  padding: 0 10px;
  float: left;
}
@media (min-width: 768px) {
  .project .body {
    width: 50%;
  }
}
.project figure {
  float: right;
}
@media (min-width: 768px) {
  .project figure {
    width: 50%;
  }
}
.project figure img {
  display: block;
}
@media (min-width: 768px) {
  .project figure img {
    width: 100%;
  }
}
nav {
  margin-top: 10px;
  width: 130px;
}
nav a {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: center;
  display: block;
  width: 100%;
  text-transform: uppercase;
  padding: 5px;
}
nav a:hover {
  color: #b23b23;
}
.debug-links {
  display: none;
}
@media (min-width: 768px) {
  .quarter {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .third {
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .half {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .most {
    width: 75%;
  }
}
/* 
	Page Structure 
	
					*/
.page {
  width: 100%;
  display: block;
}
.page:before,
.page:after {
  display: table;
  content: "";
}
.page:after {
  clear: both;
}
section {
  display: block;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 50px;
}
section:before,
section:after {
  display: table;
  content: "";
}
section:after {
  clear: both;
}
.page-title {
  height: 137px;
  margin-bottom: 0;
}
.section-title,
.project-title {
  padding: 20px 0;
}
.section-title:before,
.project-title:before,
.section-title:after,
.project-title:after {
  display: table;
  content: "";
}
.section-title:after,
.project-title:after {
  clear: both;
}
.project-title {
  padding-left: 10px;
}
.column {
  min-height: 1px;
  float: left;
  padding-left: 10px;
  padding-bottom: 10px;
}
.three-column > .column {
  width: 33.33333%;
}
.two-column > .column {
  width: 50%;
}
.page-title .title {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 80%;
}
.page-title .links {
  position: absolute;
  left: 80%;
  bottom: 10px;
  width: 20%;
}
.section-title .title {
  float: left;
  width: 80%;
}
.section-title .links {
  float: left;
  width: 20%;
}
.project-title .title {
  padding-left: 10px;
  float: left;
  width: 80%;
}
.project-title .links {
  float: left;
  width: 20%;
}
.links li.link {
  display: block;
}
.dd-link>* {
  display: inline-block;
  vertical-align: middle;
}
.dd-link i {
  margin-right: 10px;
}
.page-title li.link {
  margin-top: 10px;
}
.page-title li.link:nth-child(1) {
  margin-top: 0;
}
.page-title a.dd-link i {
  margin-right: 20px;
}
ul.skills {
  padding: 10px;
  padding-left: 0;
}
ul.skills:before,
ul.skills:after {
  display: table;
  content: "";
}
ul.skills:after {
  clear: both;
}
ul.skills li.skill {
  float: left;
  margin: 5px;
  padding: 0 5px;
}
ul.bullets {
  padding: 20px;
  padding-top: 0;
}
ul.bullets li.bullet {
  margin-bottom: 20px;
}
figure img {
  width: 100%;
}
/*
	Page Styles
				*/
/*   
	Page & Character Styles  
						*/
.page-title {
  border-top: 0;
}
.page-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.03125em;
  text-align: left;
  line-height: 1em;
}
.page-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.section-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.45rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.125em;
  text-align: left;
  line-height: 1em;
  text-transform: uppercase;
}
.section-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.140625em;
  text-align: left;
}
.column-title .primary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.column-title .secondary {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
section {
  border-top: 1px solid #ddd;
}
a.dd-link {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
a.dd-link p {
  font-size: 1em;
}
a.dd-link i {
  font-size: 1.1em;
}
a.dd-link:hover i {
  color: #b23b23;
}
a.dd-link:hover p {
  color: #b23b23;
  text-decoration: underline;
}
a.dd-link:active i {
  color: #b23b23;
}
a.dd-link:active p {
  color: #b23b23;
}
.page-title a.dd-link {
  font-size: 1rem;
}
.project-title a.dd-link {
  font-size: 0.75rem;
}
ul.bullets li.project-bullet {
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0em;
  margin-bottom: 10px;
  margin-left: 20px;
  list-style-type: circle;
}
ul.bullets li.bullet {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #555;
  letter-spacing: -0.027916em;
  text-align: left;
  list-style-position: outside;
  list-style-type: circle;
}
p.quote {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #555;
  letter-spacing: 0.025em;
  text-align: left;
  line-height: 1.125em;
  font-size: 1.1rem;
  color: #303030;
  font-style: italic;
  line-height: 1.325em;
}
.skill.small {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.skill.small a,
.skill.small p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.medium {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.skill.medium a,
.skill.medium p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #555;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
}
.skill.large {
  background: #fff;
  border: none;
  width: 100%;
}
.skill.large a,
.skill.large p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
}
.project {
  background: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #ddd;
}
