//- .project.medium
  header.project-title
    .title
      //- h4.primary Project Title
      ul.descriptors
        li.type
          p.secondary Descriptor
    ul.links
      li.link
        //- DD Link
        a.dd-link(title="Title" target="_self")
          i( class="fa fa-github")
            p Link Label
  .body
    ul.skills
      //- Skill
      li.skill.small
        p Skill
    ul.bullets
      li.project-bullet Bullet point
