ul(id="social-media")
  li
    a(href="https://github.com/dillondrenzek")
      i.fa.fa-github
  li
    a(href="https://www.linkedin.com/in/dillondrenzek")
      i.fa.fa-linkedin
  li
    a(href="https://behance.net/dillondrenzek/")
      i.fa.fa-behance
  li
    a(href="https://twitter.com/DrEnzek")
      i.fa.fa-twitter
