<div class="column">

	<section class="page-title">
		<div class="title column">
			<h2 class="primary">Projects Index</h2>
		</div>
	</section>

	<section>
		<table>
			<!-- header row-->
			<tr>
				<th>Permalink</th>
				<th>Title</th>
				<th>Type</th>
				<th>Skills</th>
				<th>Bullet Points</th>
				<th>imageUrls</th>
				<th>launchUrl</th>
				<th>githubUrl</th>
			</tr>

			<!-- project row -->
			<tr ng-repeat="project in projects">
				<td><a ng-href="#/projects/{{project.permalink}}">{{project.permalink}}</a></td>
				<td>{{project.title}}</td>
				<td>{{project.type}}</td>
				<td>{{project.skills}}</td>
				<td>{{project.bulletPoints}}</td>
				<td>{{project.imageUrls}}</td>
				<td>{{project.launchUrl}}</td>
				<td>{{project.githubUrl}}</td>
			</tr>
		</table>
	</section>
	
</div>