<h3>List Projects</h3>




<!-- Large Project -->
<div class="project large" ng-repeat="project in projects">

	<!-- Project Header -->
	<header>
		<!-- Project Title -->
		<a ng-href="#/projects/{{project.permalink}}" ng-if="project.permalink">
			<h4 class="primary">
				{{project.title}}
			</h4>
		</a>
		<h4 class="primary" ng-if="!project.permalink">
			{{project.title}}
		</h4>

		<!-- Project Type -->
		<ul>
			<li class="type" ng-show="project.type">{{project.type}}</li>
		</ul>

		<!-- Project Action Links -->
		<ul class="links">
			<!-- View on Github -->
			<li>
				<a 	ng-href="project.githubUrl"
					ng-show="project.githubUrl" 
					title="View on GitHub">
					<i class="fa fa-github-square">ICON</i>
					<p>Github</p>
				</a>
			</li>

			<!-- Launch Project -->
			<li>
				<a 	ng-href="project.launchUrl"
					ng-show="project.launchUrl" 
					title="Launch Project">
					<i class="fa fa-external-link-square">ICON</i>
					<p>Launch</p>
				</a>
			</li>
		</ul>
	</header>

	<!-- Project Body -->
	<div 	class="body"
			ng-show="project.bulletPoints || project.skills">

		<!-- Project Skills -->
		<ul class="skills"
			ng-show="project.skills">
			<li class="skill"
				ng-repeat="skill in project.skills">{{skill}}</li>
		</ul>

		<!-- Project Bullet Points -->
		<ul class="bullets">
			<li class="project-bullet"
				ng-repeat="bullet in project.bulletPoints">{{bullet}}</li>
		</ul>
		
	</div>

	<!-- Project Figure -->
	<figure ng-show="project.imageUrls">
		<img ng-repeat="url in project.imageUrls" 
			ng-src="{{url}}">
	</figure>

</div>









