<div class="column">

<!-- Page Title -->
<section class="page-title">
		
		<div class="title column">
			<!-- Project Title -->
			<h2 class="primary">
				{{project.title}}
			</h2>

			<!-- Project Type -->
			<ul class="descriptors">
				<li ng-show="project.type">
					<p class="secondary">{{project.type}}</p>
				</li>
			</ul>
		</div>


		<ul class="links column">
			<!-- View on Github -->
			<li class="link">
				<a ng-href="project.githubUrl"
					ng-show="project.githubUrl" 
					title="View on GitHub">
					<i class="fa fa-github-square"></i>
					<p>Github</p>
				</a>
			</li>

			<!-- Launch Project -->
			<li class="link">
				<a ng-href="project.launchUrl"
					ng-show="project.launchUrl" 
					title="Launch Project">
					<i class="fa fa-external-link-square"></i>
					<p>Launch</p>
				</a>
			</li>
		</ul>
	<!-- </header> -->
</section>

<!-- Title Detail -->
<section class="two-column">
	
	<div class="column">
		<!-- Project Skills -->
		<ul class="skills"
			ng-show="project.skills">
			<skill-medium skill="skill"
				ng-repeat="skill in project.skills"></skill-medium>
		</ul>

		<!-- Project Bullet Points -->
		<ul class="bullets"
			ng-show="project.bulletPoints">
			<li class="bullet"
				ng-repeat="bullet in project.bulletPoints">
				{{bullet}}
			</li>
		</ul>
	</div>

	<figure class="column"
		ng-show="project.imageUrls">
		<img ng-repeat="url in project.imageUrls" 
		ng-src="{{url}}">
	</figure>

</section>


<!-- Body Sections -->
<section ng-repeat="section in project.sections"
	ng-class="section.type">

	<!-- Section Header -->
	<header class="section-title"
		ng-show="section.title || section.headerLinks">

		<!-- Section title -->
		<div class="title">
			<h3 class="primary">{{section.title}}</h3>
		</div>

		<!-- Header Links -->
		<ul class="links" ng-show="section.headerLinks">

			<li class="link" 
				ng-repeat="link in section.headerLinks">
				<a ng-href="{{link.href}}">
					<i class="fa {{link.icon}}"
						ng-show="link.icon"></i>
					<p>{{link.label}}</p>
				</a>
			</li>
		</ul>
	</header>

	<!-- Section columns -->
	<div class="column"
		ng-repeat="column in section.columns">
		
		<!-- Section Title (Optional) -->
		<div class="column-title" ng-show="column.title">
			<div class="title">
				<h4 class="primary">{{column.title.primary}}</h4>
				<h5 class="secondary">{{column.title.secondary}}</h5>
			</div>
		</div>

		<!-- Section Paragraph (Optional) -->
		<p ng-show="column.p">{{column.p}}</p>

		<!-- Section Figure (Optional) -->
		<figure ng-show="column.figure">
			<img src="{{column.figure.imgSrc}}" alt="{{column.figure.imgAlt}}">
			{{column.figure.html}}
			
		</figure>

	</div>
	
</section>








<!--

<section class="three-column">

	<!-- Section title 
	<header class="section-title">
		<div class="title">
			<h3 class="primary">Test Section Title</h3>
		</div>
		<ul class="links">
			<li class="link"><a href="#">
				<i class="fa fa-circle"></i>
				<p>Test Link</p>
			</a></li>
		</ul>
	</header>

	<!-- Columns
	<figure class="column">
		<img ng-repeat="url in project.imageUrls" 
		ng-src="{{url}}">
	</figure>
	<div class="column">
		<div class="column-title">
			<div class="title">
				<h4 class="primary">Test Column Title</h4>
				<h5 class="secondary">Secondary</h4>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
	</div>
	

	<div class="column">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>

	<div class="column">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>

	<div class="column">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>



</section>



<!-- Test three column section
<section class="three-column">

	<!-- Section title
	<header class="section-title">
		<div class="title">
			<h3 class="primary">Test Section Title</h3>
		</div>
		<ul class="links">
			<li class="link"><a href="#">
				<i class="fa fa-circle"></i>
				<p>Test Link</p>
			</a></li>
		</ul>
	</header>

	<!-- Columns 
	<div class="column">
		<div class="column-title">
			<div class="title">
				<h4 class="primary">Test Column Title</h4>
				<h5 class="secondary">Secondary</h4>
			</div>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
	</div>
	<div class="column">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>
	<div class="column">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>

</section>
-->
</div>


