@import 'fontawesome/fontawesome';
@import 'fontawesome/fa-solid';
@import 'fontawesome/fa-brands';
@import 'colors';
@import 'fonts';
@import 'text';
@import 'bootstrap/variables';
@import 'components';


// reset
h1, p {
  margin-bottom: 0;
}
ul {
  padding: 0;
}




.page {
  font-size: .875rem;
  letter-spacing: .0264285em;

  margin-top: 56px;
}

.photo {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(xs) {
    height: 250px;
  }
}

#intro-photo {
  background-image: url('/static/img/always-wondering.jpg');
}

#intro {
  border-bottom: 1px solid $light-1;
}


.logo {
  font-weight: 700;
  font-size: 1.25rem;

  @include media-breakpoint-down(xs) {
    font-size: 1rem;
  }
}


.entry-list {
  list-style-type: none;
  margin-bottom: 0; // Bootstrap Reset
  .entry {
    margin-bottom: 30px;
  }
}


.social-media-links {
  list-style-type: none;
  margin-top: 1em;

  a {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: .65rem;
    padding-right: 1rem;
  }
}
