.comment {
  font-size: .75rem;
  font-style: italic;
  font-weight: 300;
  letter-spacing: .0333333em;
  line-height: 1.58333em;
}

.comment-arrow {
  color: #b23b23;
  font-size: 1.25rem;
  font-weight: 700;

  margin-right: 8px;
}
