// @import 'bootstrap/variables';

a {
  cursor: pointer;
}


// Nav

nav {
  background: $gray-dark;
  color: $gray-lightest;

  // Nav Links
  a {
    color: $gray-lightest;
    font-family: $font-family-sans-serif;
    font-size: $font-size-sm;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: lighten($brand-primary, 5%);
      text-decoration: none;
    }
  }
}
