@import '../bootstrap/mixins/breakpoints';


$section-padding: 50px;
$section-header-margin-bottom: 25px;


section {
  padding-bottom: $section-padding;
  padding-top: $section-padding;

  header h2 {
    margin-bottom: $section-header-margin-bottom;
    @include media-breakpoint-up(sm) {
      @include page-heading-2;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-2(xs);
    }
  }
  .portrait {
    margin-left: 10px;
  }
}

section#projects {
  background-color: #fafafa;

}


#intro {

  h1 {
    @include media-breakpoint-up(sm) {
      @include page-heading-1;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-1(xs);
    }
  }

  h1 + .subtitle {
    @include media-breakpoint-up(sm) {
      @include page-heading-1-subtitle;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-1-subtitle(xs);
    }
  }
}
