@import '../bootstrap/mixins/breakpoints';


$section-padding: 50px;
$section-header-margin-bottom: 25px;


section {

  &:not(#social-media) {
    padding-bottom: $section-padding;
    padding-top: $section-padding;
  }

  header h2 {
    margin-bottom: $section-header-margin-bottom;
    @include media-breakpoint-up(sm) {
      @include page-heading-2;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-2(xs);
    }
  }
  .portrait {
    margin-left: 10px;
  }
}

section#projects {
  background-color: $light-1;

}


#intro {
  border-bottom: 1px solid $light-1;

  h1 {
    @include media-breakpoint-up(sm) {
      @include page-heading-1;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-1(xs);
    }
  }

  h1 + .subtitle {
    @include media-breakpoint-up(sm) {
      @include page-heading-1-subtitle;
    }
    @include media-breakpoint-down(xs) {
      @include page-heading-1-subtitle(xs);
    }
  }
}



#social-media {
  border-bottom: 1px solid $light-1;

  .social-media-links {
    a {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: .65rem;
      text-decoration: none;
      & > :first-child {
        margin-right: 15px;
      }
    }

    .social-media-link {
      border-radius: 0.25em;
      overflow: hidden;
      &:hover {
        background: #eaeaea;
      }
    }
  }
}
