<h2>List Projects</h2>

<button type="button" class="btn btn-primary" routerLink="/projects/new">New Project</button>

<hr>

<ul class="list-group">

  <li class="list-group-item" *ngFor="let project of projects">

    <div class="row d-flex align-items-center">

      <div class="col">
        <a routerLink="/projects/{{project._id}}"><strong>{{ project.title }}</strong></a>
        <small>{{ project._id }}</small>
      </div>

      <div class="col-auto">
        <div class="btn-group" role="group" aria-label="List item actions">
          <!-- <button type="button" class="btn btn-sm btn-outline-warning" disabled>Edit</button> -->
          <button type="button" class="btn btn-sm btn-outline-dark" routerLink="/projects/{{project._id}}/edit">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="onClickDelete(project._id)">Delete</button>
        </div>
      </div>

    </div>

  </li>

</ul>
