<h2>Projects</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let project of projects">
    <div class="row row-collapse">
      <div class="col">
        <a routerLink="/projects/{{project._id}}"><strong>{{ project.title }}</strong></a>
      </div>
      <div class="col-auto">
        <div class="btn-group" role="group" aria-label="List item actions">
          <button type="button" class="btn btn-sm btn-outline-warning" disabled>Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger" (click)="onClickDelete(project._id)">Delete</button>
        </div>
      </div>
    </div>
  </li>
</ul>
