//- Pure Angular App Template
//- v4.0.2

doctype
html(lang="en" ng-app="DrenzekDillon")
	head
		title Dillon Drenzek | Up & Coming Web Developer
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		//- Favicon
		include ./favicon.jade

		//- Stylesheets
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/main.css")

		//- Vendor Scripts 
		script(src="/angular/angular.min.js")
		script(src="/angular-route/angular-route.min.js")

		base(href="/")

		//- Google Analytics
		include ./analytics.jade



	body
		#site-border
		#site-title
				
			//- <!-- Logo -->
			#logo
				h1 Dillon Drenzek
				.subtitle Up & Coming Developer
				
			//- <!-- Social Media Links -->
			ul(id="social-media")
				li
					a(href="https://github.com/dillondrenzek")
						i.fa.fa-github
				li
					a(href="https://www.linkedin.com/in/dillondrenzek")
						i.fa.fa-linkedin
				li
					a(href="https://behance.net/dillondrenzek/")
						i.fa.fa-behance
				li
					a(href="https://twitter.com/DrEnzek")
						i.fa.fa-twitter

			//- <!-- Nav Links -->
			nav
				ul
					li: a(href="/resume" target="_self") Resume
					li: a(href="/" target="_self") Home

		.page(ng-view)



		//- Angular
		//- App 
		script(src="/js/app.js")

		//- Controllers
		script(src="/js/controllers/homepage-controller.js")
		script(src="/js/controllers/project-list-controller.js")
		script(src="/js/controllers/project-show-controller.js")
		script(src="/js/controllers/skill-list-controller.js")

		//- Directives
		script(src="/js/directives/projects.js")
		script(src="/js/directives/skills.js")
		script(src="/js/directives/links.js")

		//- Routes
		script(src="/js/routes.js")


