//- Pure Angular App Template
//- v4.0

doctype
html(lang="en" ng-app="DrenzekDillon")
	head
		title Dillon Drenzek | Up & Coming Web Developer
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		//- Favicon
		link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png")
		link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png")
		link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png")
		link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
		link(rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="img/favicon/favicon-194x194.png" sizes="194x194")
		link(rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96")
		link(rel="icon" type="image/png" href="img/favicon/android-chrome-192x192.png" sizes="192x192")
		link(rel="icon" type="image/ico" href="img/favicon/img/favicon/favicon-64x64.png")
		link(rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16")
		
		link(rel="manifest" href="img/favicon/manifest.json")
		link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#b23b23")
		link(rel="shortcut icon" href="img/favicon/favicon.ico")
		meta(name="msapplication-TileColor" content="#b23b23")
		meta(name="msapplication-TileImage" content="img/favicon/mstile-144x144.png")
		meta(name="msapplication-config" content="img/favicon/browserconfig.xml")
		meta(name="theme-color" content="#b23b23")

		//- Stylesheets
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/main.css")

		//- Vendor Scripts 
		script(src="/angular/angular.min.js")
		script(src="/angular-route/angular-route.min.js")


		//- Google Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-67261358-1', 'auto');
			ga('send', 'pageview');

		//- Catch Mobile Browsers
		//- script.
		//- 	(function(){
		//- 		if ((screen.width < 768) ||
		//- 			(window.innerWidth && window.innerWidth < 768)) {
		//- 			window.location.replace("http://localhost:8081/mobile");
		//- 		}
		//- 	})();



	body
		#site-border
		#site-title
				
			//- <!-- Logo -->
			#logo
				h1 Dillon Drenzek
				.subtitle Up & Coming Developer
				
			//- <!-- Social Media Links -->
			ul(id="social-media")
				li
					a(href="https://github.com/dillondrenzek")
						i.fa.fa-github
				li
					a(href="https://www.linkedin.com/in/dillondrenzek")
						i.fa.fa-linkedin
				li
					a(href="https://behance.net/dillondrenzek/")
						i.fa.fa-behance
				li
					a(href="https://twitter.com/DrEnzek")
						i.fa.fa-twitter

			//- <!-- Nav Links -->
			nav
				ul
					li: a(href="/resume") Resume
					li: a(href="#/") Home

		.page(ng-view)
			//- .column.quarter
			//- .column.most(ng-view)



		//- Angular
		//- App 
		script(src="/js/app.js")

		//- Controllers
		script(src="/js/controllers/homepage-controller.js")
		script(src="/js/controllers/project-list-controller.js")
		script(src="/js/controllers/project-show-controller.js")
		script(src="/js/controllers/skill-list-controller.js")

		//- Directives
		script(src="/js/directives/projects.js")
		script(src="/js/directives/skills.js")
		script(src="/js/directives/links.js")

		//- Routes
		script(src="/js/routes.js")


