//- Pure Angular App Template
//- v4.0

doctype
html(lang="en" ng-app="DrenzekDillon")

	head

		//- Site title
		title Dillon Drenzek | Up & Coming Web Developer

		//- Meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		//- Favicon for dillon.drenzek.com
		include ../src/jade/favicon.jade

		//- Google Analytics
		include ../src/jade/analytics.jade

		//- Stylesheets
		link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/main.css")

		//- Vendor Scripts 
		script(src="/angular/angular.min.js")
		script(src="/angular-route/angular-route.min.js")

	body
		
		//- container for logo
		#site-title
		
		//- solid black border at top of screen
		#site-border

		//- site content
		#page(ng-view)
		
		//- Angular App
		script(src="/js/app.js")

		//- Controllers
		script(src="/js/controllers/homepage-controller.js")
		script(src="/js/controllers/project-list-controller.js")
		script(src="/js/controllers/project-show-controller.js")
		script(src="/js/controllers/skill-list-controller.js")

		//- Directives
		script(src="/js/directives/projects.js")
		script(src="/js/directives/skills.js")
		script(src="/js/directives/links.js")

		//- Routes
		script(src="/js/routes.js")


