//- Experience Entry 

mixin entry(title, company, date, location)
  li.list-group-item
    .d-flex.w-100.justify-content-between
      h1= title
      p= company
    .d-flex.w-100.justify-content-between
      h2= date
      p= location
    if block
      ul
        block
  
  
  
//- Bullet

mixin bullet
  li
    block




//- Template

.row.no-gutters
  h2 Education
  
.row
  ul.list-group
    +entry(
      'Computer Science, B.A.',
      'UNIVERSITY OF COLORADO AT BOULDER',
      'AUGUST 2010 - MAY 2015',
      'BOULDER, COLORADO' )
      +bullet Honors Minor in Technology, Arts & Media (TAM)
    +entry( 
      'Graphic Design Studio',
      'DANISH INSTITUTE FOR STUDY ABROAD',
      'MAY - AUGUST 2015',
      'COPENHAGEN, DENMARK' ) 
      +bullet Completed a rebranding of Copenhagen’s premiere fashion shop
