//- Education Entry 

mixin entry(title, company, date, location)
  li.entry
    h1.d-flex.w-100.justify-content-between.align-items-center
      span= title
      small= date
    h2.d-flex.w-100.justify-content-between.align-items-center
      span= company
      span= location
    if block
      ul.bullets
        block
  
  
  
//- Bullet

mixin bullet
  li.bullet
    block




//- Template

header.justify-content-around
  h2 Education
  
ul.entry-list
  +entry(
    'Computer Science, B.A.',
    'UNIVERSITY OF COLORADO AT BOULDER',
    'AUGUST 2010 - MAY 2015',
    'BOULDER, COLORADO' )
    +bullet Honors Minor in Technology, Arts & Media (TAM)
  +entry( 
    'Graphic Design Studio',
    'DANISH INSTITUTE FOR STUDY ABROAD',
    'MAY - AUGUST 2015',
    'COPENHAGEN, DENMARK' ) 
    +bullet Completed a rebranding of Copenhagen’s premiere fashion shop
