//- Experience Entry 

mixin entry(title, company, date, location)
  li.entry.list-group-item
    .d-flex.w-100.justify-content-between
      h1= title 
      small= date
    .d-flex.w-100.justify-content-between
      h2= company
      small= location
    if block
      ul
        block
  
  
  
//- Bullet

mixin bullet
  li 
    block





//- Template

.row.no-gutters
  h2 Experience
  
.row
  ul.list-group
    +entry(
      'Web Application Developer',
      'VIZUALIIZ',
      'FEBRUARY 2016 - JUNE 2017',
      'SEATTLE, WASHINGTON' )
    +entry( 
      'iOS Developer',
      'NATIVE (A TECHSTARS-BACKED COMPANY)',
      'FEBRUARY 2014 - MAY 2015',
      'BOULDER, COLORADO' ) 
      +bullet Designed, then crafted code to accommodate quickly evolving product
      +bullet Implemented core app features using Agile development methods
      +bullet Contributed to team meetings establishing product requirements, company principles & goals
      +bullet Participated in Boulder’s thriving entrepenuerial & startup community
