//- Experience Entry 

mixin entry(title, company, date, location)
  li.entry
    h1.d-flex.w-100.justify-content-between.align-items-center
      span= title 
      small= date
    h2.d-flex.w-100.justify-content-between.align-items-center
      span= company
      span= location
    if block
      ul.bullets
        block
  
  
  
//- Bullet

mixin bullet
  li.bullet
    block





//- Template

header.justify-content-around
  h2 Experience
  
ul.entry-list
  +entry(
    'Web Application Developer',
    'VIZUALIIZ',
    'FEBRUARY 2016 - JUNE 2017',
    'SEATTLE, WASHINGTON' )
  +entry( 
    'iOS Developer',
    'NATIVE (A TECHSTARS-BACKED COMPANY)',
    'FEBRUARY 2014 - MAY 2015',
    'BOULDER, COLORADO' ) 
    +bullet Designed, then crafted code to accommodate quickly evolving product
    +bullet Implemented core app features using Agile development methods
    +bullet Contributed to team meetings establishing product requirements, company principles & goals
    +bullet Participated in Boulder’s thriving entrepenuerial & startup community
