//- Experience Entry 

mixin entry(title, company, date, location)
  li.entry
    header
      h1.d-flex.w-100.justify-content-between.align-items-center
        span= title 
        small= date
      h2.d-flex.w-100.justify-content-between.align-items-center
        span= company
        span= location
    if block
      ul.bullets
        block
  
  
  
//- Bullet

mixin bullet
  li.bullet
    block





//- Template

header.justify-content-around
  h2 Experience
  
ul.entry-list
  +entry(
    'Web Application Developer',
    'VIZUALIIZ',
    'FEB 2016 - JUN 2017',
    'SEATTLE, WASHINGTON' )
    +bullet Quickly learned Angular 2 & initiated application updates as framework evolved
    +bullet Helped architect application data model, REST API, data flows within Angular & project file structure to grow and accommodate fluctuating requirements
    +bullet Implemented key modules like user authentication, search & dynamic forms
    +bullet Eventually lead front-end UI design & transition to a responsive framework using Bootstrap
    +bullet Advocated test-driven development & established front-end testing framework
  +entry( 
    'iOS Developer',
    'NATIVE (A TECHSTARS-BACKED COMPANY)',
    'FEB 2014 - MAY 2015',
    'BOULDER, COLORADO' ) 
    +bullet Designed, then crafted code to accommodate quickly evolving product
    +bullet Implemented core app features using Agile development methods
    +bullet Contributed to team meetings establishing product requirements, company principles & goals
    +bullet Participated in Boulder’s thriving entrepenuerial & startup community
