include ./Entry





//- Experience Entry
//- mixin ExperienceEntry(heading_1, heading_2, company, location, date)
//-   - var subtitle_1 = company + ' - ' + location;
//-   .Entry
//-     +Entry(heading_1, heading_2, subtitle_1, date)
//-       block heading_1
//-         | Web Application Developer
//-       block heading_2
//-         | 1 yr 4 mos


//- Template


                
                
                
                
                
                
                
                
  //- +ExperienceEntry('Web Application Developer', '1 yr 4 mos', 'Vizualiiz', 'Seattle, WA', 'Feb 2016 - Jun 2017')
  //-   | Quickly learned Angular 2 & initiated application updates as framework evolved
  //- +ExperienceEntry('iOS Developer', '1 yr 3 mos', 'Native', 'Boulder, CO', 'Feb 2014 - May 2015')
  //-   | Quickly learned Angular 2 & initiated application updates as framework evolved
  //- +entry(
    'Web Application Developer',
    'VIZUALIIZ',
    'FEB 2016 - JUN 2017',
    'SEATTLE, WASHINGTON' )
    +bullet Helped architect application data model, REST API, data flows within Angular & project file structure to grow and accommodate fluctuating requirements
    +bullet Implemented key modules like user authentication, search & dynamic forms
    +bullet Eventually lead front-end UI design & transition to a responsive framework using Bootstrap
    +bullet Advocated test-driven development & established front-end testing framework
  //- +entry( 
    'iOS Developer',
    'NATIVE (A TECHSTARS-BACKED COMPANY)',
    'FEB 2014 - MAY 2015',
    'BOULDER, COLORADO' ) 
    +bullet Designed, then crafted code to accommodate quickly evolving product
    +bullet Implemented core app features using Agile development methods
    +bullet Contributed to team meetings establishing product requirements, company principles & goals
    +bullet Participated in Boulder’s thriving entrepenuerial & startup community
