doctype
html
  head
    title Dillon Drenzek | v5
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    //- Bootstrap CSS
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")  
    
    link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/static/stylesheets/main.css")
    
    include ./site/favicon.pug
    //- include ./site/analytics.pug
    
  body
    #site-border
    #site-title
      include ./brand/logo.pug
      include ./brand/social-media.pug
      include ./site/nav.pug
        
    .page
      .column.two-third
        
        section.page-title
          .title.column
            h2.primary 
            
        section.paragraph
          header.section-title
            .title
              h3.primary A Word From The Author...
          .column
            p.quote Cheers!
            p.quote - Dillon
        
        section.list
          header.section-title
            .title
              h3.primary Featured Projects
          .column
            include ./projects/project-medium.pug
