extends layout
include Entry



block page
  
  //- Intro
  section#intro
    .row.no-gutters.justify-content-between.align-items-center
      .col
        h1 I'm Dillon
        p.subtitle Professional Web Developer
      .col-4
        img.w-100(src="/static/img/portrait.jpg" alt="Dillon Drenzek")



  //- Experience
  section#experience
    header.justify-content-center
      h2 Experience
    ul.entry-list
      each e in experience.entries
        li.entry
          +Entry( e.title, e.duration, e.location, e.dates)
            .col-12
              p= e.description
            .col-12
              .row.no-gutters.justify-content-between
                .col-auto
                  if e.url
                    a.learn-more(href=e.url) learn more
                .col-auto.align-items-end
                  if e.skills
                    +EntrySkillList(e.skills)
    
    
    
  //- Education  
  section#education
    header.justify-content-center
      h2 Education
    ul.entry-list
      each e in education.entries
        li.entry
          +Entry( e.title, e.dates, e.location, e.status )
            .col-12
              p= e.description
            .col-12
              .row.no-gutters.justify-content-between
                .col-auto
                  if e.url
                    a.learn-more(href=e.url) learn more
