doctype
html
  head
    title Dillon Drenzek | v5
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    //- Bootstrap CSS
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")  
    
    //- link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
    //- link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.min.css")
    link(rel="stylesheet" href="/static/style/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/static/style/main.css")
    //- link(rel="stylesheet" href="/static/stylesheets/main.css")
    
    include ./site/favicon.pug
    //- include ./site/analytics.pug
    
  body
    .fixed-top
      .container
        .nav
          .navbar-brand.mr-auto
            img.mr-2( src="/static/img/favicon/favicon-64x64.png" width="48" height="48" alt="")
            .
              Dillon Drenzek
          
          //- .nav-item
            a.nav-link(href='#') Home
          //- .nav-item
            a.nav-link(href='#') Resume

    .page.container
      .row.no-gutters
        h1 Up & Coming Developer



      .row.no-gutters
        h2 Experience
        
      .row
        ul
          li
            p Web Application Developer
            p VIZUALIIZ
            p FEBRUARY 2016 - JUNE 2017
          li
            p iOS Developer
            p NATIVE (A TECHSTARS-BACKED COMPANY)
            p FEBRUARY 2014 - MAY 2015
            p BOULDER, COLORADO
            ul
              li Designed, then crafted code to accommodate quickly evolving product
              li Implemented core app features using Agile development methods
              li Contributed to team meetings establishing product requirements, company principles & goals
              li Participated in Boulder’s thriving entrepenuerial & startup community
        
        
        
      .row.no-gutters
        h2 Education
      .row
        ul
          li
            p Computer Science, B.A.
            p BOULDER, COLORADO
            p AUGUST 2010 - MAY 2015
            p UNIVERSITY OF COLORADO AT BOULDER
            ul
              li Honors Minor in Technology, Arts & Media (TAM)
          li
            p Graphic Design Studio
            p MAY - AUGUST 2015
            p COPENHAGEN, DENMARK
            p DANISH INSTITUTE FOR STUDY ABROAD
            ul
              li Completed a rebranding of Copenhagen’s premiere fashion shop
            
            
            
      .row.no-gutters
        h2 Skills
      .row
        .col
          | Web Development
          ul
            li HTML5
            li CSS3
            li jQuery
            li JavaScript
            li Stylus
            li Jade
            li Express.js
            li Node.js
            li Bootstrap
            li WordPress
            li Angular.js
            li MongoDB
            li REST APIs
            li JSON
            li AJAX
        .col
          | UI Design
          ul
            li Photoshop
            li Illustrator
            li Sketch
        .col
          | Workflow
          ul
            li Git/GitHub
            li Mac OS X
            li Cmd. Line
            li Gulp.js
            li Linux
        .col
          | Programming
          ul
            li Objective-C
            li Swift
            li Python
            li C/C++
            li Java
        .col 
          | Technical Concepts
          ul
            li Model-View-Controller (MVC)
            li Object-Oriented Programming
            li Responsive Web Design
            li Cross-Browser Compatibility
          
          
          
      //- Old Content
      
        section.page-title
          .title.column
            h2.primary Up &amp; Coming Developer
            
        section.paragraph
          header.section-title
            .title
              h3.primary A Word From The Author...
          .column
            p.quote Cheers!
            p.quote - Dillon
        
        section.list
          header.section-title
            .title
              h3.primary Featured Projects
          .column
            //- .card-group
            include ./projects/project-card.pug
