include ./Entry

doctype
html
  head
    title Dillon Drenzek | v5
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/static/style/bootstrap/bootstrap-custom.min.css")
    link(rel="stylesheet" href="/static/style/main.css")
      
    script(src="/vendor/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    
    include ./site/favicon
    //- include ./site/analytics
    
  body
    .fixed-top
      include nav
    
    .container.page
        
      //- Intro
        
      section.col#intro
        .row.no-gutters.justify-content-between.align-items-center
          .col
            h1 I'm Dillon
            p.subtitle Professional Web Developer
          .col-4
            img.w-100(src="/static/img/portrait.jpg" alt="Dillon Drenzek")
      
      //- Experience
      
      section#experience
        header.justify-content-around
          h2 Experience
          
        ul.entry-list
          li.entry
            +Entry(
              'Web Application Developer', 
              '1 yr 4 mos', 
              'Vizualiiz - Seattle, WA', 
              'Feb \'16 - Jun \'17' )
              .col-12
                p First experience with Angular 2; helped rebuild company’s flagship asset management application
              .col-12
                .row.no-gutters.justify-content-between
                  .col-auto
                    a.learn-more(href="#") learn more
                  .col-auto.align-items-end
                    +EntrySkillList(['Angular', 'RxJS', 'Sass', 'REST'])
          
          li.entry
            +Entry(
              'iOS Developer', 
              '1 yr 3 mos', 
              'Native - Boulder, CO', 
              'Feb \'14 - May \'15' )
              .col-12
                p Helped build a new company with a team of graduating seniors, winning the New Venture Challenge at CU and participating in Techstars-Boulder
              .col-12
                .row.no-gutters.justify-content-between
                  .col-auto
                    a.learn-more(href="#") learn more
                  .col-auto.align-items-end
                    +EntrySkillList(['iOS SDK', 'Objective-C', 'Swift', 'REST'])
        
        
      //- Education  
        
      section#education
        header.justify-content-around
          h2 Education
          
        ul.entry-list
          li.entry
            +Entry(
              'Computer Science, B.A.',
              'May 2015',
              'University of Colorado at Boulder',
              'Graduated' )
              .col-12
                p Honors Minor in Technology, Arts & Media (TAM)
              .col-12
                .row.no-gutters.justify-content-between
                  .col-auto
                    a.learn-more(href="#") learn more
          li.entry
            +Entry( 
              'Graphic Design Studio',
              'May - Aug 2015',
              'Danish Institute for Study Abroad',
              'COPENHAGEN, DENMARK' )
              .col-12
                p Completed an academic rebranding of Copenhagen’s premiere fashion shop
              .col-12
                .row.no-gutters.justify-content-between
                  .col-auto
                    a.learn-more(href="#" disabled) learn more
    footer
      .row.no-gutters.justify-content-center.align-items-center
        .col-auto
          a(href=githubUrl) drenzek.com - version 5.0.0-alpha.2
