doctype
html
  head
    title Dillon Drenzek | v5
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    //- Favicon
    include ./favicon.pug
    
  body
    h1 Dillon Drenzek
