doctype
html
  head
    title Dillon Drenzek | v5
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
      
    link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/static/style/bootstrap/bootstrap-custom.min.css")
    link(rel="stylesheet" href="/static/style/main.css")
      
    script(src="/vendor/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    
    include ./site/favicon
    //- include ./site/analytics
    
  body
    .fixed-top
      include nav
    
    .container.page
        
      section#intro
        h1 I'm Dillon Drenzek
        h2 I'm an Up &amp; Coming Developer
      
      section#experience
        include experience
      section#education
        include education
    
    footer.justify-content-around.text-center
      a(href=githubUrl) version 5.0.0-alpha.1
      //- .jumbotron
      //-   h1 Up & Coming Developer
      //- 
      //-         
      //- include education                  
      //- include skills
