include ./brand/logo

//- Nav Link
mixin nav_link(link, text)
  a.nav-link(href=link target="_self")= text


//- Template
nav.navbar.navbar-inverse.bg-inverse.flex-row.align-items-center.no-padding
  .container
    ul.navbar-nav.flex-row.justify-content-between
      li.nav-item.mr-auto
        +logo('40')(class="h2")
      li.nav-item
        +nav_link('#', 'Home')
      li.nav-item.ml-3
        +nav_link('#', 'Resume')
