include ./brand/logo

//- Nav Link
mixin nav_link(link, text)
  a.nav-link(href=link target="_self")= text


//- Template
nav
  .container
    .d-flex.w-100.flex-row.justify-content-between.align-items-center
      div
        +logo('56')(class="h2")
      div
        +nav_link('/resume', 'Resume')
