include Entry

//- Project
//-



//- Project Entry
//- @param {Project} proj
mixin ProjectEntry(proj)
  +Entry.Project-Entry
    if proj.image
      +EntryImage(proj.image.src, proj.image.alt, "100%", 180)
    +EntryHeader
      +EntryTitle(proj.title)
      +EntrySubtitle(proj.type)
    +EntryDescription(proj.description)
    
