//- Badge

mixin badge
  .badge.badge-default.mr-1
    block


.row.no-gutters
  h2 Skills
.row
  .col
    h2 Web Development
    div
      +badge HTML5
      +badge CSS3
      +badge jQuery
      +badge JavaScript
      +badge Stylus
      +badge Jade
      +badge Express.js
      +badge Node.js
      +badge Bootstrap
      +badge WordPress
      +badge Angular.js
      +badge MongoDB
      +badge REST APIs
      +badge JSON
      +badge AJAX
  .col
    h2 UI Design
    div
      +badge Photoshop
      +badge Illustrator
      +badge Sketch
  .col
    h2 Workflow
    div
      +badge Git/GitHub
      +badge Mac OS X
      +badge Cmd. Line
      +badge Gulp.js
      +badge Linux
  .col
    h2 Programming
    div
      +badge Objective-C
      +badge Swift
      +badge Python
      +badge C/C++
      +badge Java
  .col 
    h2 Technical Concepts
    div
      +badge Model-View-Controller (MVC)
      +badge Object-Oriented Programming
      +badge Responsive Web Design
      +badge Cross-Browser Compatibility
