.row.no-gutters
  h2 Skills
.row
  .col
    | Web Development
    ul
      li HTML5
      li CSS3
      li jQuery
      li JavaScript
      li Stylus
      li Jade
      li Express.js
      li Node.js
      li Bootstrap
      li WordPress
      li Angular.js
      li MongoDB
      li REST APIs
      li JSON
      li AJAX
  .col
    | UI Design
    ul
      li Photoshop
      li Illustrator
      li Sketch
  .col
    | Workflow
    ul
      li Git/GitHub
      li Mac OS X
      li Cmd. Line
      li Gulp.js
      li Linux
  .col
    | Programming
    ul
      li Objective-C
      li Swift
      li Python
      li C/C++
      li Java
  .col 
    | Technical Concepts
    ul
      li Model-View-Controller (MVC)
      li Object-Oriented Programming
      li Responsive Web Design
      li Cross-Browser Compatibility
