<div class="column most">

	<!-- Title Section -->
	<section class="page-title">
		<div class="title column">
			<h2 class="primary">, The Work Of</h2>
		</div>

		<!-- <ul class="links column">
			<li></li>
		</ul> -->
	</section>


	<!-- "Word From The Author" Paragraph Section -->
	<section class="paragraph">
		<header class="section-title">
			<div class="title">
				<h3 class="primary">A Word From The Author...</h3>
			</div>
		</header>

		<div class="column">
			<p>I'm psyched you're here! I'm an Up & Coming Web Developer and this is my little corner of the Internet. Ever since I was a kid, I've played with data of all sorts and looked for creative ways to display that information. Some of my earliest inspirations were the scoreboards on TV during sporting events, so I guess you could say this is my personal "scoreboard." I've taken my resume, and my portfolio and turned it into a scoreboard of my skills and projects. Play around and see what you can find and then drop me a note at dillon@drenzek.com!<br><br> Cheers,<br>Dillon</p>
		</div>
		
	</section>



	<!-- "Featured Projects" Medium Project List Section -->
	<section class="list">
		<header class="section-title">
			<div class="title">
				<h3 class="primary">Featured Projects</h3>
			</div>
		</header>

		<!-- Medium Project -->
		<project-medium ng-repeat="project in projects" project="project"></project-medium>
	</section>
	
</div>	



<!-- Page Column Right -->
<div class="page-column quarter">
	<!-- Title Section -->
	<section class="page-title"></section>

	<!-- "Top Skills" Medium Skill List Section -->
	<section class="list">

		<header class="section-title">
			<h3 class="primary">Top Skills</h3>
		</header>

		<div class="column">
			<div class="column-title">
				<h4 class="primary">All Categories</h4>
			</div>
			<ul class="skills">
				<skill-small ng-repeat="skill in skills"
					skill="skill">{{skill}}</skill-small>
			</ul>
		</div>


	</section>

</div>
	