<!-- Index Page -->



<!-- Title Section -->
<section class="page-title">
	<header class="page">
		<div class="full">
			<h2 class="primary">, The Work Of</h2>
		</div>
	</header>
</section>



<!-- Featured Projects -->
<section class="two-third">

	<header class="section">
		<h3 class="primary">Featured Projects</h3>
	</header>

	<div class="body">
		<project-medium ng-repeat="project in projects" project="project"></project-medium>
	</div>
	
</section>



<!-- A Word From The Author -->
<section class="third">

	<header class="section">
		<h3 class="primary">A Word From The Author...</h3>
	</header>

	<div class="body">
		<p class="quote">Welcome to my little corner of the Internet!
			<br>
			I'm Dillon Drenzek and I'm an Up & Coming Web Developer. I love the structure of code, the creative freedom of design, and the endless possibilities of the Internet. What better way to combine these passions than as a web developer?
			<br>
			<br>
			I graduated with a degree in Computer Science in May of 2015 and after spending the summer studying Graphic Design in Denmark, I've moved to Seattle to start my career at a company that is as passionate about what they do as I am! I've put this website together to demonstrate what I'm capable of. So, play around, see what you can find, and then feel free to drop me a note at dillon@drenzek.com!
			<br>
			<br>
			Cheers!
			<br>
			Dillon
		</p>
	</div>
	
</section>






<!-- Top Skills -->
<section class="third">

	<header class="section">
		<h3 class="primary">Skills</h3>
	</header>

	<div class="body">

		<!-- Top Skills -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Best Overall</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.best" skill="skill"></skill-medium>
		</ul>

		<!-- Front End -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Front-End</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.frontEnd" skill="skill"></skill-medium>
		</ul>

		<!-- UI & Front-End Design -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">UI & Graphic Design</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.uiDesign" skill="skill"></skill-medium>
		</ul>

		<!-- Back End -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Back-End & Databases</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.backEnd" skill="skill"></skill-medium>
		</ul>

		<!-- Programming -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Programming</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.programming" skill="skill"></skill-medium>
		</ul>

		<!-- Workflow -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Workflow</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.workflow" skill="skill"></skill-medium>
		</ul>

		<!-- Concepts -->
		<ul class="block skills">
			<header class="content">
				<h4 class="primary">Technical Concepts</h4>
			</header>

			<skill-medium ng-repeat="skill in skills.techConcepts" skill="skill"></skill-medium>
		</ul>


	</div>

	<!-- Top Skills -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Best Overall</h4>
		</div>
		
	</div> -->

	<!-- Front End -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Front-End</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.frontEnd"
				skill="skill"></skill-medium>
		</ul>
	</div> -->

	<!-- UI & Front-End Design -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">UI & Graphic Design</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.uiDesign"
				skill="skill"></skill-medium>
		</ul>
	</div> -->

	<!-- Back End -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Back-End & Databases</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.backEnd"
				skill="skill"></skill-medium>
		</ul>
	</div> -->

	<!-- Programming -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Programming</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.programming"
				skill="skill"></skill-medium>
		</ul>
	</div> -->

	<!-- Workflow -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Workflow</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.workflow"
				skill="skill"></skill-medium>
		</ul>
	</div> -->

	<!-- Concepts -->
	<!-- <div class="full">
		<div class="column-title">
			<h4 class="primary">Technical Concepts</h4>
		</div>
		<ul class="skills">
			<skill-medium ng-repeat="skill in skills.techConcepts"
				skill="skill"></skill-medium>
		</ul>
	</div> -->



</section>

	