doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    nav.top-bar
      .top-bar-left
        ul.dropdown.menu(data-dropdown-menu)
          li
            a(href="/") Home
          li
            a(href="/projects") Projects
          li
            a(href="/accounts") Accounts
    
    .row
      .column.small-12
        block content
