doctype
html
	head
	body
		#site-title
		#site-border
		#page
			section.page-title
				header.page-title
					.three-quarter
						h1.primary Page Title Primary
						h2.secondary Page Title secondary
						p.tertiary Tertiary
					.quarter
						ul.block.links
							li.link
								i.fa.fa-github
								p Github
							li.link
								i.fa.fa-external-link
								p Launch

				.body.page-title

			section.full

