extends ../default

block body
  .fixed-top
    include ../components/nav

  .page-frame
    .page
      .row.h-100.align-items-center.justify-content-center
        .col-6
          #landing-content
            .row
              .col-12.text-center
                h1 Dillon Drenzek
              .col-12.text-center
                button.btn.btn-default Download Resume

  include ../components/footer
