// Page / Heading 1
// - >SM
// - XS
@mixin page-heading-1($size: sm) {
  @if $size == xs {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -.0375em;
    line-height: 1.1875em;
  } @else {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -.0375em;
    line-height: 1.15em;
  }
}



$page-heading-1-subtitle-color: #636c72;

// Page / Heading 1 Subtitle
// - >SM
// - XS
@mixin page-heading-1-subtitle($size: sm) {
  color: $page-heading-1-subtitle-color;
  text-transform: none;
  font-style: italic;
  @if $size == xs {
    font-size: .875rem;
  } @else {
    font-size: 1.5rem;
  }
}



// Page / Heading 2
// - >SM
// - XS
@mixin page-heading-2($size: sm) {
  letter-spacing: .25em;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  @if $size == xs {
    font-size: 1.25rem;
  } @else {
    font-size: 1.5rem;
  }
}



// Page / Body
// >SM, XS
@mixin page-body($size: sm) {
  @if $size == xs {
    font-size: .75rem;
    letter-spacing: .0308333em;
    font-weight: 400;
  } @else {
    font-size: .875rem;
    letter-spacing: .0264285em;
    font-weight: 400;
    line-height: 1.5;
  }
}
