/* FONTS */
		@font-face{
			/* credit: Przemyslaw Hoffer
			http://www.dafont.com/basic-title-font.font?fpp=100&back=theme */
			font-family: Basic Title Font; 
			src: url('./fonts/basictitlefont.ttf');
		}
	
/* UTILITY */
		*,
		*:before,
		*:after{
			box-sizing:border-box;
				-webkit-box-sizing:border-box;
			margin: 0;
		}
		html{
			background: #252423;
			background: url("") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
		}

		body{
			font-size: 16px;
			padding: 0;
			margin: 0;
		}
		html, body {
  			height: 100%;
  			overflow: hidden;
			  
			font-weight: bold;
			text-align: center;


		}

		.game-window{
			background: #171919;
			height: 495px;
			margin: 0 auto;
			padding: 4px;
			position: relative;
			width: 495px;
		}

		.game-score{
			background: transparent;
			/*height: 11px;*/
			/*margin: 2px;*/
			position: absolute;
			top: 0px;
			right: 0px;

			font-size: 4rem;
			font-family: "Basic Title Font";
			color: white;

			margin: 1rem;
			padding: 1rem;
			/*width: 11px;*/
			content: "1";
		}

		.game-dot{
			height: 11px;
			margin: 2px;
			position: absolute;
			width: 11px;	
		}
			.food-dot{
				background: tomato;
			}
			.snake-dot{
				background: white;
			}
				.snake-dot-head{background: white;}
				.snake-dot-tail{background: white;}

		.hide{
			opacity: 0;
		}
