//- SectionHeader
//- @param {string} name
mixin SectionHeader(name)
  header.justify-content-center
    h2
      block


//- Section
mixin Section
  section&attributes(attributes)
    .container
      block
