head
  
  title Dillon Drenzek | v5
  
  //- Meta
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  
  //- Stylesheets
  link(rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet" href="/static/style/bootstrap/bootstrap-custom.min.css")
  link(rel="stylesheet" href="/static/style/main.css")
    
  //- Vendor Scripts
  script(src="/vendor/jquery-3.2.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
  script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
  
  include ./favicon
  //- include ./analytics
