extends layout
include components/Entry
include components/projects

mixin _EntryList
  ul.entry-list.row.no-gutters
    block
      
mixin _GridEntry
  li.entry.col-xs-12.col-md-6.col-lg-4
    block
      
mixin _NarrowEntry(center)
  if center
    li.entry.col-xs-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
      block
  else 
    li.entry.col-xs-12.col-md-10.col-lg-8
      block   


block page
  
  //- Intro
  section#intro
    .row
      .col-xs-12.col-lg-10.offset-lg-1
        .row.no-gutters.justify-content-between.align-items-center
          .col
            h1 I'm Dillon
            p.subtitle Professional Web Developer
          .col-4
            img.portrait.w-100(src="/static/img/portrait.jpg" alt="Dillon Drenzek")



  //- Experience
  section#experience
    header.justify-content-center
      h2 Experience
    +_EntryList
      each e in experience.entries
        +_NarrowEntry(true)
          +Entry
            +EntryHeader
              +EntryTitle(e.title, e.duration)
              +EntrySubtitle(e.location, e.dates)
            +EntryDescription(e.description)
          //- if e.url
            a.learn-more(href=e.url) learn more
    
    
    
  //- Education  
  section#education
    header.justify-content-center
      h2 Education
    +_EntryList
      each e in education.entries
        +_NarrowEntry(true)
          +Entry
            +EntryHeader
              +EntryTitle(e.title, e.dates)
              +EntrySubtitle(e.location, e.status)
            +EntryDescription(e.description)
            //- if e.url
              a.learn-more(href=e.url) learn more



  //- Projects
  if projects
    section#projects
      header.justify-content-center
        h2 Projects
      +_EntryList
        each proj in projects.entries
          +_GridEntry
            +ProjectEntry(proj)
            //- if e.url
              a.learn-more(href=e.url) learn more
              
              
