*,
*:before,
*:after{
	@include box-sizing;
	margin: 0;
	padding: 0;
}

html{
	background: $dark-gray;
	font-family: $font-oswald;
}

h1 {
	color: $blue;
	font-family: $font-oswald;
}

nav {
	li {
		display: inline-block;
		list-style-type: none;

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $light-gray;
			}
		} //a
	} //li
} //nav

article {
	// @include border(0, black, 0);
	padding: 25px;
	background: $white;
	h2 {
		color: $orange;
	}
	p {
		color: black;
	}
}

aside {
	padding: 25px;
	background: $orange;
	color: $white;
}

footer {
	color: $gray;
}