//- #logo
  h1 Dillon Drenzek
  .subtitle Up &amp; Coming Developer

mixin logo(size)
    img( src="/static/img/drenzek-logo.svg" width=size height=size alt="Drenzek Logo")
    span.align-middle.logo Dillon Drenzek
