// Colors
// v3.0.1



// Colors
White = #FAFAFA
Light = #DDDDDD
Gray = #909090
Dark = #555555
Black = #303030
TrueBlack = #000000

Red = #B23B23
LtRed = #F2CAA0





// Standard Padding Sizes
ThickPadding = 20px
StandardPadding = 10px
ThinPadding = 5px

FormTransitionTime = 0.3s