// Constant Stylus
// v4.0

// Colors
White = #FAFAFA
Light = #DDDDDD
Gray = #909090
Dark = #555555
Black = #303030
TrueBlack = #000000
Red = #B23B23
LtRed = #F2CAA0



// Standard Padding Sizes
LargePadding = 50px
ThickPadding = 30px
StandardPadding = 15px
ThinPadding = 5px

// Title Sizes
LogoHeight = 174px
SiteBorderHeight = 36px
SiteTitleWidth = 130px
SiteTitleMargin = 10px
SiteTitleTranslation = -(SiteTitleWidth+SiteTitleMargin)




FormTransitionTime = 0.3s
