// App Style Index
// v4.0

//- Style & Color Constants
@import 'constants'

//- Font
@import 'font'

//- Bootstrap Mixins
@import 'bootstrap'

//- Generic Mixins
@import 'mixin'



*,
*:before,
*:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0
	
html
	CoverBackground('../img/grassy-field.jpeg')
	FiraSans(16px, 400, Black, -1px, left)

a
	text-decoration none
	color Red
	font-weight 400
	&:hover
		text-decoration underline
		
li
	list-style-type none

img
	display block

img.landscape
	width 100%
	height auto
img.portrait
	height 100%
	width auto
	
table
	border 1px solid Light
	font-size 12px
	
	tbody
		display block
	th
		border-bottom 3px solid Dark
	td
		border 1px solid Dark



.fixed
	position fixed
	z-index 100

