$button-text-shadow-color: rgba(0, 0, 0, 0.3);

.btn {
  display: inline-block;
  text-decoration: none;
  // color mixin
  background-color: $primary;
  color: $light-0;
  font-size: 1.25rem;
  font-weight: 700;
  text-shadow: 1px 1px 3px $button-text-shadow-color;
  // size mixin
  padding: 0.75em 1.25em;

  &:hover {
    text-decoration: none;
    background-color: darken($primary, 3%);
    color: $white;
  }
}
