@import "bootstrap/mixins";


// Entry / Heading 1
@mixin Entry-heading-1($size: sm) {
  @if $size == xs {
    font-size: 1.125rem;
  } @else {
    font-size: 1.25rem;
  }

  line-height: 1.4em;
  letter-spacing: normal;
  font-weight: 700;
}


// Entry / Heading 2
@mixin Entry-heading-2($size: sm) {
  @if $size == xs {
    font-size: 0.875rem;
    letter-spacing: -.01357142em;
  } @else {
    font-size: 1.125rem;
    letter-spacing: -.015625em;
  }

  line-height: normal;
  font-weight: bold;
}

// Entry / Subtitle
@mixin Entry-subtitle($size: sm) {
  @if $size == xs {
    font-size: .625rem;
  } @else {
    font-size: .75rem;
  }

  line-height: normal;
  letter-spacing: .16667em;
  text-transform: uppercase;
  font-weight: 700;
  color: #A4A29D;
}


.Entry {

  // General Utility

  .col-right {
    text-align: right;
    margin-left: 10px;
  }

  // fonts

  .heading-1 {
    @include media-breakpoint-down(xs) {
      @include Entry-heading-1(xs);
    }

    @include media-breakpoint-up(sm) {
      @include Entry-heading-1;
    }
  }

  .heading-2 {
    @include media-breakpoint-down(xs) {
      @include Entry-heading-2(xs);
    }

    @include media-breakpoint-up(sm) {
      @include Entry-heading-2;
    }
  }

  .subtitle-1,
  .subtitle-2 {
    @include media-breakpoint-down(xs) {
      @include Entry-subtitle(xs);
    }

    @include media-breakpoint-up(sm) {
      @include Entry-subtitle;
    }
  }

  header {
    @include media-breakpoint-down(xs) {
      margin-bottom: 5px;
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 10px;
    }
  }

  p {
    @include media-breakpoint-down(xs) {
      @include page-body(xs);
    }

    @include media-breakpoint-up(sm) {
      @include page-body;
    }
    margin-bottom: 5px;
  }

  ul {
    list-style-type: none;
  }

  figure {
    overflow: hidden;
  }

  // Learn More Button
  .learn-more {
    font-size: .75rem;
    color: #b23b23;
    font-weight: 700;
    font-style: italic;
    letter-spacing: .083em;
  }
}
