@import 'fonts';
@import 'text';
@import 'bootstrap/variables';

// Custom Components
@import 'nav';
@import 'footer';
@import 'Entry';

// reset
h1, p {
  margin-bottom: 0;
}
ul {
  padding: 0;
}



#intro {

  h1 {
    @include page-heading-1();
  }
  h1 + .subtitle {
    @include page-heading-1-subtitle();
  }
}




.page {
  margin-top: 56px;
  padding-top: 50px;

  font-size: 0.875rem;
  letter-spacing: 0.0264285em;

  section {
    margin-bottom: 50px;

    header h2 {
      @include page-heading-2();
    }
  }
}


.entry-list {
  list-style-type: none;
}

.entry {
  margin-bottom: 30px;
}
