@import 'bootstrap/variables';

// Custom Components
@import 'nav';

section {
  padding: 0 15px;

  &:not(#intro) {
    margin-bottom: 60px;
  }
  header h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
}

#intro {
  padding: 50px;
  text-align: center;
  h1, h2 {
    font-weight: 200;
    line-height: 1.4em;
  }
  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.67px;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: -0.67px;
    text-transform: none;
  }

}




.page {
  margin-top: 56px;
  padding: 0;
}

ul.entry-list {
  list-style-type: none;
  padding: 0 15px;
}

.entry {

  margin-bottom: 30px;

  header {
    margin-bottom: 10px;
  }

  h1 {

    margin: 0;
    margin-bottom: 0;
    span {
      font-size: 1.25rem;
      letter-spacing: 0.25px;
      font-weight: 700;

    }
    small {
      font-size: 0.85rem;
      letter-spacing: 0.25px;
      font-weight: 400;
    }
  }

  h2 {
    span {
      font-size: 0.75rem;
      letter-spacing: 2px;
      font-weight: 700;
    }
  }

  ul {
    li {
      letter-spacing: 0.17px;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 200;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

}


footer {
  padding: 20px;
  color: $gray-light;
  background: $gray-lightest;
  font-size: 0.5rem;
  letter-spacing: 0.5px;
}

// @import "fonts";
//
// *,
// *:before,
// *:after {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   position: relative;
// }
// html {
//   background: #fafafa;
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   color: #303030;
//   letter-spacing: -1px;
//   text-align: left;
// }
// a {
//   text-decoration: none;
//   color: #b23b23;
//   font-weight: 400;
// }
// a:hover {
//   text-decoration: underline;
// }
// li {
//   list-style-type: none;
// }
// img {
//   display: block;
// }
// img.landscape {
//   width: 100%;
//   height: auto;
// }
// img.portrait {
//   height: 100%;
//   width: auto;
// }
// figure img {
//   width: 100%;
// }
// table {
//   border: 1px solid #ddd;
//   font-size: 12px;
// }
// table tbody {
//   display: block;
// }
// table th {
//   border-bottom: 3px solid #555;
// }
// table td {
//   border: 1px solid #555;
// }
// .fixed {
//   position: fixed;
//   z-index: 100;
// }
// /*
// **  Angular App UI Components
// */
// #site-border {
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   width: 100%;
//   background: #000;
//   height: 36px;
// }
// #site-title {
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   left: 60px;
//   width: 130px;
// }



// @media (min-width: 768px) {
//   .page-column.quarter {
//     width: 25%;
//   }
// }
// @media (min-width: 768px) {
//   .page-column.half {
//     width: 50%;
//   }
// }
// @media (min-width: 768px) {
//   .page-column.most {
//     width: 75%;
//   }
// }
// @media (min-width: 768px) {
//   .page-column.full {
//     width: 100%;
//   }
// }
// #logo {
//   width: 130px;
//   height: 174px;
//   font-size: 31.32px;
//   background: #b23b23;
//   text-align: left;
// }
// #logo h1 {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1em;
//   font-weight: 700;
//   color: #fafafa;
//   letter-spacing: -0.05em;
//   text-align: left;
//   line-height: 0.83333em;
//   text-shadow: 1px 1px 1px rgba(48,48,48,0.5);
//   -webkit-user-select: none /* Chrome all / Safari all */;
//   -moz-user-select: none /* Firefox all */;
//   -ms-user-select: none /* IE 10+ */;
//   user-select: none /* Likely future */;
//   cursor: default;
//   position: absolute;
//   left: 0.270833em;
//   bottom: 0.6666667em;
// }
// #logo .subtitle {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 0.25em;
//   font-weight: 400;
//   color: #f2caa0;
//   letter-spacing: 0.1em;
//   text-align: left;
//   text-transform: uppercase;
//   -webkit-user-select: none /* Chrome all / Safari all */;
//   -moz-user-select: none /* Firefox all */;
//   -ms-user-select: none /* IE 10+ */;
//   user-select: none /* Likely future */;
//   cursor: default;
//   position: absolute;
//   left: 1.25em;
//   bottom: 1.125em;
// }
// #logo .login {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 0.25em;
//   font-weight: 400;
//   color: #b23b23;
//   letter-spacing: 0.1em;
//   text-align: left;
//   text-transform: uppercase;
//   position: absolute;
//   top: 40px;
//   left: 15px;
//   cursor: pointer;
// }
// #logo .login:hover {
//   color: #f2caa0;
// }
// #social-media {
//   width: 130px;
//   list-style-type: none;
// }
// #social-media li {
//   display: inline-block;
//   width: 25%;
// }
// #social-media li a {
//   padding-top: 15px;
//   width: 100%;
//   display: block;
//   text-align: center;
// }
// #social-media li i {
//   font-size: 18px;
// }
// .project {
//   position: relative;
//   display: block;
//   margin-bottom: 50px;
// }
// @media (min-width: 768px) {
//   .project {
//     width: 100%;
//   }
// }
// .project:before,
// .project:after {
//   display: table;
//   content: "";
// }
// .project:after {
//   clear: both;
// }
// .project header {
//   position: relative;
//   border-top: none !important;
//   border-bottom: 1px solid #ddd;
//   padding: 15px 0;
//   float: left;
// }
// @media (min-width: 768px) {
//   .project header {
//     width: 100%;
//   }
// }
.project .title {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.027916em;
  text-align: left;
  line-height: 1em;
}
// .project header .title a.primary:hover {
//   color: #b23b23;
// }
.project .descriptor {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #b23b23;
  letter-spacing: 0.0714285em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

.project img {
  width: 100%;
  height: auto;
}
// .project .body {
//   padding: 0 15px;
//   float: left;
// }
// @media (min-width: 768px) {
//   .project .body {
//     width: 50%;
//   }
// }
// .project figure {
//   float: right;
// }
// @media (min-width: 768px) {
//   .project figure {
//     width: 50%;
//   }
// }
// .project figure img {
//   display: block;
// }
// @media (min-width: 768px) {
//   .project figure img {
//     width: 100%;
//   }
// }
// nav {
//   margin-top: 15px;
//   width: 130px;
// }
// nav a {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 400;
//   color: #b23b23;
//   letter-spacing: 0.0714285em;
//   text-align: center;
//   display: block;
//   width: 100%;
//   text-transform: uppercase;
//   padding: 5px;
// }
// nav a:hover {
//   color: #b23b23;
// }
// .debug-links {
//   display: none;
// }
// @media (min-width: 768px) {
//   .quarter {
//     width: 25%;
//   }
// }
// @media (min-width: 768px) {
//   .third {
//     width: 33.33333333%;
//   }
// }
// @media (min-width: 768px) {
//   .half {
//     width: 50%;
//   }
// }
// @media (min-width: 768px) {
//   .two-third {
//     width: 66.66666667%;
//   }
// }
// @media (min-width: 768px) {
//   .most {
//     width: 75%;
//   }
// }
// /*
// 	Page Layout
// 	Element Positioning
// ---------------------------*/
// .page {
//   width: 100%;
//   background: #fafafa;
//   margin-top: 36px;
//   padding-left: 220px;
//   padding-right: 30px;
// }
// .page:before,
// .page:after {
//   display: table;
//   content: "";
// }
// .page:after {
//   clear: both;
// }
// section {
//   width: 100%;
//   margin-bottom: 50px;
// }
// section:before,
// section:after {
//   display: table;
//   content: "";
// }
// section:after {
//   clear: both;
// }
// .page-title {
//   height: 137px;
//   margin-bottom: 0;
// }
// .section-title,
// .project-title {
//   padding: 15px;
// }
// .section-title:before,
// .project-title:before,
// .section-title:after,
// .project-title:after {
//   display: table;
//   content: "";
// }
// .section-title:after,
// .project-title:after {
//   clear: both;
// }
// .column {
//   min-height: 1px;
//   float: left;
// }
// .page > .column {
//   padding: 0;
// }
// section > .column {
//   padding-left: 15px;
//   padding-bottom: 15px;
// }
// .column > .column {
//   padding-left: 15px;
// }
// .three-column > .column {
//   width: 33.33333%;
// }
// .two-column > .column {
//   width: 50%;
// }
// .page-title .title {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 80%;
// }
// .page-title .links {
//   position: absolute;
//   left: 80%;
//   bottom: 15px;
//   width: 20%;
// }
// .section-title .title {
//   float: left;
//   width: 80%;
// }
// .section-title .links {
//   float: left;
//   width: 20%;
// }
// .project-title .title {
//   padding-left: 15px;
//   float: left;
//   width: 80%;
// }
// .project-title .links {
//   float: left;
//   width: 20%;
// }
// .links li.link {
//   display: block;
// }
// .dd-link>* {
//   display: inline-block;
//   vertical-align: middle;
// }
// .dd-link i {
//   margin-right: 15px;
// }
// .page-title li.link {
//   margin-top: 15px;
// }
// .page-title li.link:nth-child(1) {
//   margin-top: 0;
// }
// .page-title a.dd-link i {
//   margin-right: 30px;
// }
// ul.skills {
//   padding: 5px;
//   padding-left: 0;
// }
// ul.skills:before,
// ul.skills:after {
//   display: table;
//   content: "";
// }
// ul.skills:after {
//   clear: both;
// }
// ul.skills li.skill {
//   float: left;
//   margin: 5px;
//   padding: 0 5px;
// }
// ul.bullets {
//   padding: 5px;
//   padding-top: 0;
// }
// ul.bullets li.bullet {
//   margin-bottom: 15px;
// }
// /*
// 	Visual Styling
// 						*/
// .page-title {
//   border-top: 0;
// }

// .page-title .primary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 3rem;
//   font-weight: 700;
//   color: #303030;
//   letter-spacing: -0.03125em;
//   text-align: left;
//   line-height: 1em;
// }
//
// .page-title .secondary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 400;
//   color: #b23b23;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   text-transform: uppercase;
// }
// .section-title .primary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.45rem;
//   font-weight: 400;
//   color: #555;
//   letter-spacing: 0.125em;
//   text-align: left;
//   line-height: 1em;
//   text-transform: uppercase;
// }
// .section-title .secondary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 200;
//   color: #303030;
//   letter-spacing: 0.140625em;
//   text-align: left;
// }
// .column-title .primary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 400;
//   color: #b23b23;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   text-transform: uppercase;
// }
// .column-title .secondary {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 0.875rem;
//   font-weight: 200;
//   color: #303030;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   text-transform: uppercase;
// }
// section {
//   border-top: 1px solid #ddd;
// }
// a.dd-link {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 0.75rem;
//   font-weight: 700;
//   color: #303030;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   text-transform: uppercase;
// }
// a.dd-link p {
//   font-size: 1em;
// }
// a.dd-link i {
//   font-size: 1.1em;
// }
// a.dd-link:hover i {
//   color: #b23b23;
// }
// a.dd-link:hover p {
//   color: #b23b23;
//   text-decoration: underline;
// }
// a.dd-link:active i {
//   color: #b23b23;
// }
// a.dd-link:active p {
//   color: #b23b23;
// }
// .page-title a.dd-link {
//   font-size: 1rem;
// }
// .project-title a.dd-link {
//   font-size: 0.75rem;
// }
// ul.bullets li.project-bullet {
//   font-weight: 400;
//   font-size: 0.85rem;
//   letter-spacing: 0em;
//   margin-bottom: 15px;
//   margin-left: 30px;
//   list-style-type: circle;
// }
// ul.bullets {
//   padding: 50px;
// }
// ul.bullets li.bullet {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.25rem;
//   font-weight: 400;
//   color: #555;
//   letter-spacing: 0.027916em;
//   text-align: left;
//   list-style-position: outside;
//   list-style-type: circle;
// }
// p.quote {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 200;
//   color: #555;
//   letter-spacing: 0.025em;
//   text-align: left;
//   line-height: 1.125em;
//   letter-spacing: 0em;
//   font-size: 1rem;
//   color: #555;
//   font-style: italic;
//   font-weight: 400;
//   line-height: 1.5em;
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.25rem;
//   font-weight: 700;
//   color: #555;
//   letter-spacing: -0.027916em;
//   text-align: left;
// }
// .skill.small {
//   background: #fff;
//   border: 1px solid #ddd;
//   border-left: 3px solid #ddd;
// }
// .skill.small a,
// .skill.small p {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.15rem;
//   font-weight: 400;
//   color: #555;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.25rem;
//   font-weight: 700;
//   color: #555;
//   letter-spacing: -0.027916em;
//   text-align: left;
// }
// .skill.medium {
//   background: #fff;
//   border: 1px solid #ddd;
//   border-left: 3px solid #ddd;
// }
// .skill.medium a,
// .skill.medium p {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.25rem;
//   font-weight: 400;
//   color: #555;
//   letter-spacing: 0.0714285em;
//   text-align: left;
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1.25rem;
//   font-weight: 700;
//   color: #555;
//   letter-spacing: -0.027916em;
//   text-align: left;
//   padding: 7px 15px;
// }
// .skill.large {
//   background: #fff;
//   border: none;
//   width: 100%;
// }
// .skill.large a,
// .skill.large p {
//   font-family: 'Fira Sans', Helvetica, sans-serif;
//   font-size: 1rem;
//   font-weight: 700;
//   color: #303030;
//   letter-spacing: -0.027916em;
//   text-align: left;
// }
// .project.medium {
//   background: #fff;
//   border: 1px solid #ddd;
//   border-left: 3px solid #ddd;
// }
// .project.medium figure {
//   border-left: 1px solid #ddd;
// }
// .project.medium .body {
//   background: #fff;
// }
