@import 'fonts';
@import 'text';
@import 'bootstrap/variables';

// Custom Components
@import 'nav';

section {
  margin-bottom: 50px;

  header h2 {
    @include page-heading-2();
  }
}

#intro {
  h1, p {
    margin-bottom: 0;
  }
  h1 {
    @include page-heading-1();
  }
  h1 + .subtitle {
    @include page-heading-1-subtitle();
  }
}




.page {
  margin-top: 56px;
  padding: 0;
  padding-top: 50px;
}

ul.entry-list {
  list-style-type: none;
  padding: 0 15px;
}

.entry {

  margin-bottom: 30px;

  header {
    margin-bottom: 10px;
  }

  h1 {

    margin: 0;
    margin-bottom: 0;
    span {
      font-size: 1.25rem;
      letter-spacing: 0.25px;
      font-weight: 700;

    }
    small {
      font-size: 0.85rem;
      letter-spacing: 0.25px;
      font-weight: 400;
    }
  }

  h2 {
    span {
      font-size: 0.75rem;
      letter-spacing: 2px;
      font-weight: 700;
    }
  }

  ul {
    li {
      letter-spacing: 0.17px;
      font-size: 0.875rem;
      font-style: italic;
      font-weight: 200;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

}


footer {
  padding: 20px;
  color: $gray-light;
  background: $gray-lightest;
  font-size: 0.5rem;
  letter-spacing: 0.5px;
}
