@import 'fonts';
@import 'text';
@import 'bootstrap/variables';
@import 'components';


// reset
h1, p {
  margin-bottom: 0;
}
ul {
  padding: 0;
}








.page {
  margin-top: 56px;
  padding-top: 50px;

  font-size: 0.875rem;
  letter-spacing: 0.0264285em;
}


.entry-list {
  list-style-type: none;
  .entry {
    margin-bottom: 30px;
  }
}
