<div class="column most">
	

<section class="page-title">
	<div class="title">
		<h2 class="primary">List Skills</h2>
	</div>
	
</section>

<section class="three-column">

<header class="section-title">
	<div class="title">
		<h3 class="primary">Skills by Category</h3>				
	</div>
</header>


	<div class="column">
		<div class="column-title">
			<h4 class="primary">Category</h4>
		</div>
		<ul class="skills">
			<skill-large skill="skill"
				ng-repeat="skill in skills"></skill-large>
		</ul>
	</div>

	<div class="column">
		<div class="column-title">
			<h4 class="primary">Category</h4>
		</div>
		<ul class="skills">
			<skill-large skill="skill"
				ng-repeat="skill in skills"></skill-large>
		</ul>
	</div>

	<div class="column">
		<div class="column-title">
			<h4 class="primary">Category</h4>
		</div>
		<ul class="skills">
			<skill-large skill="skill"
				ng-repeat="skill in skills"></skill-large>
		</ul>
	</div>

</section>

</div>