.project.medium
  header.project-title
    .title
      h4.primary Project Title
      ul.descriptors
        li.type
          p.secondary Descriptor
    ul.links
      li.link
        include ./dd-link.pug
  .body
    ul.skills
      include ./skill-small.pug
    ul.bullets
      li.project-bullet Bullet point
  figure
    img(ng-src="")
