// VARIABLES
// Colors
$white: #fafafa;
$light-gray: darken($white, 30);
$gray: darken($white, 60);
$dark-gray: #252423;
$black: #131211;

$blue: #1ce;
$orange: #CC3F23;



// Fonts
$font-oswald: "Oswald", sans-serif; 