$card-bg: $white;
$card-border-color: $light-1;
$card-shadow-color: rgba(0, 0, 0, .12);



// Card

.card {
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  box-shadow: 1px 1px 2px $card-shadow-color;
  padding: 10px;
}
