// RESETS
*
	border none



// Section Divisions
section
	border 1px solid purple
	header,
	.body,
	footer
		border 1px solid blue


// Content Positioning
.quarter,
.third,
.half,
.two-third,
.three-quarter,
.full
	border 1px solid green

