// Main Stylus Sheet
// v4.0

@import 'app'

*,
*:before,
*:after
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0
	padding 0
	position relative
	
html
	FiraSans(1rem, 400, Black, 0em, left)
	line-height 1em
	background White

// body > *
// 	// border 2px solid red !important

// body > * > *
// 	border 1px solid green !important

// body > * > * > *
// 	border 1px solid blue !important
// body > * > * > * > *
// 	border 1px solid orange !important
// body > * > * > * > * > *
// 	border 1px solid purple !important

	

// DEBUG measures
.debug
	.page, #site-title
		border 1px solid black
		// min-height 500px
		
	.page-column
		border 1px solid blue
		
	section
		border 1px solid green
		min-height 134px
		
	header
		border 1px solid red
		
	.body
		border 1px solid yellow





// Default
a
	text-decoration none
	color Red
	font-weight 400
	&:hover
		text-decoration underline

figure
	img
		display block
		width 100%
		height auto
		
img.landscape
	width 100%
	height auto
	
img.portrait
	width auto
	height 100%
	
table
	border 1px solid Light
	font-size 12px
	
	tbody
		display block
	th
		border-bottom 3px solid Dark
	td
		border 1px solid Dark
		
li
	list-style-type circle
	list-style-position inside
	FiraSans(1rem, 400, Black, 0em, left)






//--- Positioning

.left,
.page-title,
.full,
.three-quarter,
.two-third,
.half,
.third,
.quarter
	display inline-block
.right
	// float right
	
.full
	Width-XS(12)
	
.three-quarter
	Width-SM(9)
	Width-MD(12)
	Width-LG(9)

.two-third
	Width-SM(8)
	Width-MD(12)
	Width-LG(8)

.half
	Width-SM(6)
	Width-MD(12)
	Width-LG(6)

.third
	Width-SM(4)
	Width-MD(12)
	Width-LG(4)

.quarter
	Width-SM(3)
	Width-MD(12)
	Width-LG(3)
	

	

LogoWidth = 130px
LogoHeight = 174px
SMLogoWidth = 49px
SMLogoHeight = 65px
SiteTitleWidth = LogoWidth + (ThickPadding*2)
SiteTitleHeight = 65px
SiteBorderHeight = 36px
SiteHeaderHeight = 170px

// # Fixed
#logo
	margin 0 auto
	z-index 100
	+XS()
		font-size 11.94px
		width SMLogoWidth
		height SMLogoHeight
	+SM()
		font-size 11.94px
		width SMLogoWidth
		height SMLogoHeight
	+MD()
		font-size 32px
		width LogoWidth
		height LogoHeight

#site-title
	position fixed
	z-index 100
	top 0
	left 0
	width 100%
	height SiteTitleHeight
	

	+SM()
		width 100%
		height SiteTitleHeight

	+MD()
		width SiteTitleWidth
		height auto
	header.site
		padding-left 45px
		padding-right 15px

#site-border
	position fixed
	z-index 95
	top 0
	left 0
	width 100%
	height SiteBorderHeight

// #social-media
// 	list-style-type none
// 	li
// 		display inline-block
// 		width 25%
// 		a
// 			width 100%
// 			display block
// 			text-align center
// 		i
// 			font-size 18px
// 	+XS()
// 		li
// 			a
// 				padding-top ThinPadding

// 	+SM()
// 		width SiteTitleWidth
// 		li
// 			a
// 				padding-top StandardPadding

// nav
// 	width 100%
// 	ul
// 		width 100%
// 	li
// 		width 100%
// 		display block
// 	a
// 		display block
// 		text-align center
// 		width 100%


// * Page
#page
	width 100%
	display block
	
	+XS()
		margin-top SiteTitleHeight
		padding-left 0
	+SM()
		margin-top SiteTitleHeight
		padding-left 0
	+MD()
		margin-top SiteBorderHeight
		padding-left SiteTitleWidth

	

		
		
	
// * * Sections	
section
	Width-XS(12)
	display inline-block
	vertical-align top
	float left
	// padding-left StandardPadding
	// padding-right StandardPadding
	margin-bottom ThickPadding
	Clearfix()
	&.page-title
		margin-bottom 0

// Responsive Widths
section	
	&.full,
	&.page-title
		Width-XS(12)
	&.three-quarter
		Width-SM(9)
		Width-MD(12)
		Width-LG(9)
		
	&.two-third
		Width-SM(8)
		Width-MD(12)
		Width-LG(8)
		
	&.half
		Width-SM(6)
		Width-MD(12)
		Width-LG(6)
		
	&.third
		Width-SM(4)
		Width-MD(12)
		Width-LG(4)
		
	&.quarter
		Width-SM(3)
		Width-MD(12)
		Width-LG(3)		

header.page
	display block
	+XS()
		height auto
	+SM()
		height auto
	+MD()
		height auto
		min-height LogoHeight - SiteBorderHeight
		
header.page > *
	+XS()
		display block
	+MD()
		display inline-block
		vertical-align bottom
		
section .body > *
	+XS()
		display block
	+MD()
		display inline-block
		vertical-align middle


	// li
	// 	padding-right StandardPadding
		
	// +XS()
	// 	li.link
	// 		margin-bottom 0
	

// * * * Section Headers
section
	header,
	.body,
	footer
		display block
		width 100%
		Clearfix()

section
	header
		padding StandardPadding 0
			


// * * * * Content		
ul.line
	InlineChildren(middle)
	list-style-type none
	li
		InlineChildren(middle)
	
ul.block
	list-style-type none
	li
		display block
		InlineChildren(middle)
		
ul.line.skills
	padding StandardPadding 0
	li
		display inline-block
		&:first-child
			margin-left 0

ul.block.bullets
	li
		margin-bottom StandardPadding

		
li.link
	margin-bottom StandardPadding
	InlineChildren(middle)
	a
		InlineChildren(middle)
	i
		padding-right StandardPadding



// * * * * Project
.project
	margin-bottom ThickPadding

	.three-quarter
		Width-XS(12)
		Width-MD(9)
	.half
		Width-XS(12)
		Width-MD(6)
		
	.quarter
		Width-XS(12)
		Width-MD(3)


	header,
	.body,
	footer
		display block
		width 100%
		Clearfix()
	
	header
		padding-left StandardPadding
		padding-right StandardPadding

	ul.block
		width 100%

	ul.line
		width 100%
		li 
			margin-right StandardPadding

	ul.links
		+XS()
			padding-top 10px
		+SM()
			padding-top 10px
		+MD()
			padding-top 0
		
		li
			margin-bottom ThinPadding
			
	ul.skills
		padding StandardPadding
		
		li
			margin-right ThinPadding
			+XS()
				margin-bottom 0
			+SM()
				margin-bottom 0
			+MD()
				margin-bottom ThinPadding
			
			
	ul.bullets
		
		padding StandardPadding
		+XS()
			li
				margin-bottom StandardPadding
				&:last-child
					margin-bottom 0
		+SM()
			li
				margin-bottom StandardPadding
				&:last-child
					margin-bottom 0	


















// --- Styling

// # Fixed
#site-title
	background none
	
#site-border
	
	background black
	

// * Page
// Page Title
header.page
	border-left 5px solid Light
	border-bottom 2px solid Light
	.primary
		FiraSans(3rem, 700, Black, -0.03125em, left)
		line-height 1em
	.secondary
		FiraSans(1rem, 400, Red, 0.0714285em, left)
		text-transform uppercase
		font-style normal
// .page-title
// 	border-top 0
// 	.primary
// 		FiraSans(3rem, 700, Black, -0.03125em, left)
// 		line-height 1em
// 	.secondary
// 		FiraSans(1rem, 400, Red, 0.0714285em, left)
// 		text-transform uppercase

	
// * * Sections
section:not(.page-title)
	border-top 1px solid Light
	

// * * * Section Headers
header.section
	.primary
		FiraSans(2rem, 700, Black, -0.025em, left)
		line-height 1em
		// text-transform uppercase
	.secondary
		FiraSans(1rem, 200, Black, 0.140625em, left)



// * * * Section Body

// * * * * Skill
.skill
	background white
	border 1px solid Light
	border-left 3px solid Light
	FiraSans(12px, 400, Dark, 0.0714285em, left)
	text-transform uppercase
	padding 0px 5px
	a, p
		FiraSans(1em, 400, Dark, 0.0714285em, left)

// * * * * Project
.project
	background white
	border 1px solid Light
	border-left 3px solid Light
	.primary
		FiraSans(1.5rem, 700, Black, -0.03em, left)
		line-height 1em
	a.primary:hover
		color Light
		text-decoration none
	a.primary:active
		color Red
		
	.type,
	.date
		FiraSans(0.875rem, 400, Red, 0.0715em, left)
		text-transform uppercase
		
	.date
		color Gray
	.type
		color Red

	header
		border-bottom 1px solid Light
		
	li.bullet
		FiraSans(0.875rem, 400, Dark, 0.025em, left)
		line-height 1em
		
	ul.skills
		background White
		border-bottom 1px solid Light
	
	// ul.bullets,
	// ul.skills
	

	.half:first-child
		+XS()
			border-right 0
		+SM()
			border-right 0
		+MD()
			border-right 1px solid Light
		
	figure
		background White
		+XS()
			border-top 1px solid Light
		+SM()
			border-top 1px solid Light
		+MD()
			border-top 0
			
	
			



// * * * * DD Link
.dd-link
	i
		color Dark
	p
		FiraSans(0.75rem, 700, Black, 0.075em, left)
		text-transform uppercase
	&:hover i
		color Light
	&:hover p
		color Gray
	&:active i
		color Red
	&:active p
		color Red
	







// --- Logo
#logo
	background Red
	.primary
		FiraSans(1em, 700, White, -0.05em, left)
		line-height 0.83333em
		text-shadow 1px 1px 1px rgba(Black, 0.5)
		NoSelect()
		position absolute
		left 5.7%
		bottom 12%
	.secondary
		FiraSans(0.225em, 400, LtRed, 0.1em, left)
		text-transform uppercase
		NoSelect()
		position absolute
		left 7%
		bottom 5%
	.hidden-link
		FiraSans(0.25em, 400, Red, 0.1em, left)
		text-transform uppercase
		position absolute
		top 40px
		left StandardPadding
		cursor pointer
		&:hover
			color LtRed


// --- Model Representations
.skill.small
	background white
	// border-radius 3px
	border 1px solid Light
	border-left 3px solid Light
	a, p
		FiraSans(0.65rem, 400, Dark, 0.0714285em, left)
		text-transform uppercase
	
.skill.medium
	background white
	border 1px solid Light
	border-left 3px solid Light
	
	a, p
		FiraSans(0.875rem, 400, Dark, 0.0714285em, left)
		text-transform uppercase
		
.skill.large
	background white
	border none
	width 100%
	a, p
		FiraSans(1rem, 700, Black, -0.027916em, left)


// .project
// 	background white
// 	border 1px solid Light
// 	border-left 3px solid Light
// 	Clearfix()



	
// 	.project-title
// 		Width-SM(12)
// 		border-top none !important
// 		border-bottom 1px solid Light
// 		padding StandardPadding
		
// 		.primary
// 			Char-MediumItemPrimary()
// 		a.primary:hover
// 			color Red
		
// 		.secondary
// 			FiraSans(0.875rem, 400, Red, 0.0714285em, left)
// 			text-transform uppercase
			
	// ul.descriptors
	// 	li
	// 		display inline-block
	// 		margin-right StandardPadding		
	// 	.date
	// 		.secondary
	// 			color Gray

	// ul.links
	// 	li.link
	// 		a
	// 			display block
	// 			width 100%
	// 			InlineChildren(middle)
	// 		i
	// 			padding-right StandardPadding
	// 		p
	// 			FiraSans(0.75rem, 700, Red, 0.0714285em, left)
	// 			text-transform uppercase
				
	// ul.skills
	// 	padding ThinPadding
	// 	padding-left 0
	// 	Clearfix()
	// 	li.skill
	// 		
	// 		margin ThinPadding
	// 		padding 0 ThinPadding
			
	// ul.bullets
	// 	padding ThinPadding
	// 	padding-top 0
	// 	li.bullet
	// 		Char-Default()
	// 		font-style italic
	// 		// color Gray
	// 		margin-bottom StandardPadding
	// 		list-style-type circle
	// 		list-style-position inside
		
	// .quarter
	// 	Width-MD(3)	
	// .half
	// 	Width-MD(6)
	// .three-quarter
	// 	Width-MD(9)



