<ul class="list">
  <li class="list-item">
    <div class="row"><span class="column small-12">Instagram</span><small class="column small-12">5a77f000ed23e26d9d57bf51</small>
      <div class="columns small-12">
        <ul class="menu">
          <li><a href="/accounts/5a77f000ed23e26d9d57bf51/edit">Edit</a></li>
          <li><a onclick="deleteRequest('/api/accounts/5a77f000ed23e26d9d57bf51')">Delete</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-item">
    <div class="row"><span class="column small-12">GitHub</span><small class="column small-12">5a77f00bed23e26d9d57bf52</small>
      <div class="columns small-12">
        <ul class="menu">
          <li><a href="/accounts/5a77f00bed23e26d9d57bf52/edit">Edit</a></li>
          <li><a onclick="deleteRequest('/api/accounts/5a77f00bed23e26d9d57bf52')">Delete</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-item">
    <div class="row"><span class="column small-12">LinkedIn</span><small class="column small-12">5a77f014ed23e26d9d57bf53</small>
      <div class="columns small-12">
        <ul class="menu">
          <li><a href="/accounts/5a77f014ed23e26d9d57bf53/edit">Edit</a></li>
          <li><a onclick="deleteRequest('/api/accounts/5a77f014ed23e26d9d57bf53')">Delete</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
