<!-- {
  slug: string,
  title: string,
  url: string,
  faIconClasses: string,
  createdAt: Date,
  modifiedAt: Date
} -->



<ul class="list">
  <li class="list-item" *ngFor="let account of accounts">
    <div class="row"><span class="column small-12">{{ account.title }}</span><small class="column small-12">{{ account._id }}</small>
      <div class="columns small-12">
        <ul class="menu">
          <!-- <li><a href="/accounts/{{account._id}}/edit">Edit</a></li>
          <li><a onclick="deleteRequest('/api/accounts/{{account._id}}')">Delete</a></li> -->
        </ul>
      </div>
    </div>
  </li>
</ul>
