include ../brand/logo

//- Nav Link
mixin nav_link(link, text)
  a.nav-link(href=link target="_self")= text


//- Template
nav
  .container
    .d-flex.w-100.flex-row.justify-content-between.align-items-center
      div
        +logo('56')(class="h2")
      div
        each account in socialMedia
          a.nav-link(href=account.url target="_blank" title=account.title)
            i(class=account.faIconClasses)
        
        +nav_link('/resume', 'Resume')
