//- #logo
  h1 Dillon Drenzek
  .subtitle Up &amp; Coming Developer

mixin logo(size)
  img.mr-2( src="/static/img/favicon/favicon-64x64.png" width=size height=size alt="")
  if (attributes.class)
    span.align-middle(class!=attributes.class) Dillon Drenzek
